<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">{{ 'viewAllPanelTitle' | i18n }}</h4>
	</div>
	<div class="panel-body">
		<form name="viewForm" ng-controller="ViewCtrl" ng-init="initWs()"><!-- ng-init="initDefaultElements()" -->
			<div class="row">
				<div class="col-md-9" ng-show="mapReady" ><!-- id="map_canvas" -->
					<ui-gmap-google-map center="map.center" draggable="true" zoom="map.zoom" options="options" control="map.control" bounds="map.bounds"><!-- refresh="map.refresh"  options="map.options" events="events" -->
<!-- 						<ui-gmap-markers models="parkingMetersMarkers" coords="'coord'" options="'options'" icon="'icon'" > -->
<!--         				</ui-gmap-markers> -->

							<ui-gmap-markers models="parkingMetersMarkers" coords="'coords'" option="'options'" click="'click'" icon="'icon'" events="'events'"><!-- click="'onClick'" -->
								<ui-gmap-window show="'show'" closeClick="'closeClick'" ng-cloak>
                					<p>
			                        	Latitude: {{coords.latitude}}<br/>
			                        	Longitude: {{coords.longitude}}<br/>
			                        	Codice: <strong>{{title}}</strong>
			                    	</p>
            					</ui-gmap-window>
        					</ui-gmap-markers>
        					<ui-gmap-markers models="parkingStructureMarkers" coords="'coords'" option="'options'" icon="'icon'" events="'events'">
        						<ui-gmap-window show="'show'" ng-cloak>
                					<p>
			                        	Latitude: {{coords.latitude}}<br/>
			                        	Longitude: {{coords.longitude}}<br/>
			                        	Codice: <strong>{{title}}</strong>
			                    	</p>
            					</ui-gmap-window>
        					</ui-gmap-markers>
        					<ui-gmap-markers models="bikePointMarkers" coords="'coords'" option="'options'" icon="'icon'" events="'events'">
        						<ui-gmap-window show="'show'" ng-cloak>
                					<p>
			                        	Latitude: {{coords.latitude}}<br/>
			                        	Longitude: {{coords.longitude}}<br/>
			                        	Codice: <strong>{{title}}</strong>
			                    	</p>
            					</ui-gmap-window>
        					</ui-gmap-markers>			
<!-- 						<ui-gmap-marker ng-repeat="m in parkingMetersMarkers" idkey="m.id" coords="m.coords" click="onMarkerClick(m)" icon="m.icon" options="m.options" > -->
<!-- 							<ui-gmap-window show="m.show" ng-cloak> -->
<!-- 			                    <p> -->
<!-- 			                        Latitude: {{m.coords.latitude}}<br/> -->
<!-- 			                        Longitude: {{m.coords.longitude}}<br/> -->
<!-- 			                        Codice: <strong>{{m.title}}</strong> -->
<!-- 			                    </p> -->
<!-- 			                </ui-gmap-window> -->
<!-- 						</ui-gmap-marker> -->
					</ui-gmap-google-map>
<!-- 				<map center="46.0754576, 11.124772" zoom="13" on-click="addMarker()"> -->
<!--         			ngRepeat: pos in positions -->
<!--         			<marker ng-repeat="m in parkingMetersMarkers" position="m.position" ng-show=""> -->
<!--         			</marker> -->
<!--       			</map> -->

				</div>
				<div class="col-md-9" ng-show="!mapReady">
					<div style="text-align: center">
							<img src="imgs/ajax-loader.gif" width="40" height="40" /><br>
							<h3>{{ 'loading_text' | i18n }}...</h3>
						</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-primary">
						<div class="panel-body">
							<table width="100%">
								<tr>
									<th colspan="2">{{ 'view_hide_block_title' | i18n }}</th>
								</tr>
								<tr>
									<td align="center" width="15%"><input type="checkbox" ng-model="mapelements.rateareas"></td>
									<td align="left" width="85%">{{ 'view_areas' | i18n }}</td>
								</tr>
								<tr>
									<td align="center"><input type="checkbox" ng-model="mapelements.streets"></td>
									<td align="left">{{ 'view_streets' | i18n }}</td>
								</tr>
								<tr>
									<td align="center"><input type="checkbox" ng-model="mapelements.parkingmeters" ng-click="changeParkingMetersMarkers()"></td>
									<td align="left">{{ 'view_parkingmeters' | i18n }}</td>
								</tr>
								<tr>
									<td align="center"><input type="checkbox" ng-model="mapelements.parkingstructs"></td>
									<td align="left">{{ 'view_parkingstructs' | i18n }}</td>
								</tr>
								<tr>
									<td align="center"><input type="checkbox" ng-model="mapelements.bikepoints"></td>
									<td align="left">{{ 'view_bikepoints' | i18n }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>