<div class="panel panel-success">
	<div class="panel-heading">
		<h4 class="panel-title">{{ 'viewAllPanelTitle' | i18n }}</h4>
	</div>
	<div class="panel-body">
		<form name="viewForm" ng-controller="ViewCtrl" ng-init="initWs()"><!-- ng-init="initDefaultElements()" -->
			<div class="row">
				<div class="col-md-9" ng-show="mapReady" ><!-- id="map_canvas" -->
					<ui-gmap-google-map center="map.center" draggable="true" zoom="map.zoom" options="options" control="map.control" bounds="map.bounds"><!-- refresh="map.refresh"  options="map.options" events="events" -->
						
						<ui-gmap-polygon static="true" ng-repeat="a in mapAreas track by a.id" path="a.path" stroke="a.stroke" visible="a.visible" geodesic="a.geodesic" fill="a.fill" fit="false" editable="a.editable" draggable="a.draggable"></ui-gmap-polygon>
						
						<ui-gmap-polyline ng-repeat="m in mapStreets" path="m.path" stroke="m.stroke" visible="m.visible"
	              			geodesic="m.geodesic" fit="false" editable="m.editable" draggable="m.draggable"></ui-gmap-polyline>
						
<!-- 							<ui-gmap-markers models="mapParkingMetersMarkers" option="'options'" coords="'coords'" click="'onClick'" icon="'icon'">click="'onClick'" option="'options'" events="'events'" -->
<!-- 								<ui-gmap-windows show="'showWindow'">closeClick="'closeClick'" -->
<!-- 			                        Codice: <strong>{{ data.code }}</strong><br/> -->
<!-- 			                        Colore: <strong>{{ data.color }}</strong><br/> -->
<!-- 			                        Stato: <strong>{{ data.status }}</strong><br/> -->
<!-- 			                        Note: <strong>{{ data.note }}</strong><br/> -->
<!--             					</ui-gmap-windows> -->
<!--         					</ui-gmap-markers> -->
        					<ui-gmap-marker ng-repeat=" pm in mapParkingMetersMarkers" idkey="pm.id" option="pm.options" coords="pm.coords" click="pm.onClick" icon="pm.icon"><!-- click="'onClick'" option="'options'" events="'events'" -->
								<ui-gmap-window show="pm.showWindow"><!-- closeClick="'closeClick'" -->
									<div ng-non-bindable="">
						          	<div id="siteNotice"></div>
						          	<h4 id="firstHeading" class="firstHeading">{{ pm.data.code }}</h4>
							        <div id="bodyContent">
							        	<table>
							        		<tr>
							        			<td><strong>{{ 'pm_note' | i18n }}:</strong></td>
							        			<td>&nbsp;{{ pm.data.note }}</td>
							        		</tr>
											<tr>
							        			<td><strong>{{ 'pm_status' | i18n }}:</strong></td>
							        			<td>
							        				<span ng-show="pm.data.status=='ACTIVE'">Attivo</span>
													<span ng-show="pm.data.status!='ACTIVE'">Disattivo</span>
												</td>	
							        		</tr>
							        		<tr>
							        			<td colspan="2">
<!-- 							        				<strong>{{ 'pm_area_name' | i18n }}:</strong> -->
<!-- 							        				<div class="panel panel-default"> -->
<!-- 														<div class="panel-body"> -->
<!-- 															<table width="100%"> -->
<!-- 																<tr> -->
<!-- 																	<td width="45%"><strong>{{ 'area_name' | i18n }}:</strong></td> -->
<!-- 																	<td width="55%">{{ pm.area.name }}</td> -->
<!-- 																</tr> -->
<!-- 																<tr>	 -->
<!-- 																	<td><strong>{{ 'area_rate' | i18n }}:</strong></td> -->
<!-- 																	<td>{{ pm.area.fee }}</td> -->
<!-- 																</tr> -->
<!-- 																<tr>	 -->
<!-- 																	<td><strong>{{ 'area_time' | i18n }}:</strong></td> -->
<!-- 																	<td>{{ pm.area.timeSlot }}</td> -->
<!-- 																</tr> -->
<!-- 																<tr>	 -->
<!-- 																	<td><strong>{{ 'area_sms' | i18n }}:</strong></td> -->
<!-- 																	<td>{{ pm.area.smsCode }}</td> -->
<!-- 																</tr> -->
<!-- 																<tr>	 -->
<!-- 																	<td><strong>{{ 'area_color' | i18n }}</strong></td> -->
<!-- 																	<td><span class="colorBox" ng-style="{'background-color': correctColor(pm.area.color)}"></span></td> -->
<!-- 																</tr> -->
<!-- 													   		</table> -->
<!-- 														</div> -->
<!-- 													</div>	 -->
							        			</td>
<!-- 							        			<td></td> -->
<!-- 							        			<td><b>{{ pm.data.color }}</b></td> -->
							        		</tr>
							        	</table>
<!-- 							            <p>Attribution: Uluru, <a href="//en.wikipedia.org/w/index.php?title=Uluru&amp;oldid=297882194"> -->
<!-- 							            http://en.wikipedia.org/w/index.php?title=Uluru</a>  -->
<!-- 							            (last visited June 22, 2009).</p> -->
							        </div>
						        </div>
            					</ui-gmap-window>
        					</ui-gmap-marker>
        					<ui-gmap-markers models="mapParkingStructureMarkers" coords="'coords'" option="'options'" icon="'icon'" events="'events'">
        						<ui-gmap-windows show="'show'" ng-cloak>
                					<p>
			                        	Latitude: {{coords.latitude}}<br/>
			                        	Longitude: {{coords.longitude}}<br/>
			                        	Codice: <strong>{{title}}</strong>
			                    	</p>
            					</ui-gmap-windows>
        					</ui-gmap-markers>
        					<ui-gmap-markers models="mapBikePointMarkers" coords="'coords'" option="'options'" icon="'icon'" events="'events'">
        						<ui-gmap-windows show="'show'" ng-cloak>
                					<p>
			                        	Latitude: {{coords.latitude}}<br/>
			                        	Longitude: {{coords.longitude}}<br/>
			                        	Codice: <strong>{{title}}</strong>
			                    	</p>
            					</ui-gmap-windows>
        					</ui-gmap-markers>
        				
        				<ui-gmap-polygon static="true" ng-repeat="z in mapZones track by z.id" path="z.path" stroke="z.stroke" visible="z.visible" geodesic="z.geodesic" fill="z.fill" fit="false" editable="z.editable" draggable="z.draggable"></ui-gmap-polygon>
        								
					</ui-gmap-google-map>

				</div>
<!-- 				<div class="col-md-9" ng-show="mapReady" id="map-canvas">	 -->
<!-- 				</div> -->
				<div class="col-md-9" ng-show="!mapReady">
					<div style="text-align: center">
							<img src="imgs/ajax-loader.gif" width="40" height="40" /><br>
							<h3>{{ 'loading_text' | i18n }}...</h3>
						</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h5 class="panel-title">{{ 'view_hide_block_title' | i18n }}</h5>
						</div>
						<div class="panel-body">
							<table width="100%">
<!-- 								<tr> -->
<!-- 									<th colspan="2">{{ 'view_hide_block_title' | i18n }}</th> -->
<!-- 								</tr> -->
								<tr>
									<td align="center" width="15%"><input id="rateArea" type="checkbox" ng-model="mapelements.rateareas" ng-click="changeAreaPolygons()"></td>
									<td align="left" width="85%"><label for="rateArea">{{ 'view_areas' | i18n }}</label></td>
								</tr>
								<tr>
									<td align="center"><input id="streets" type="checkbox" ng-model="mapelements.streets" ng-click="changeStreetPolylines()"></td>
									<td align="left"><label for="streets">{{ 'view_streets' | i18n }}</label></td>
								</tr>
								<tr>
									<td align="center"><input id="pMeters" type="checkbox" ng-model="mapelements.parkingmeters" ng-click="changeParkingMetersMarkers()"></td>
									<td align="left"><label for="pMeters">{{ 'view_parkingmeters' | i18n }}</label></td>
								</tr>
								<tr>
									<td align="center"><input id="pStruct" type="checkbox" ng-model="mapelements.parkingstructs" ng-click="changeParkingStructuresMarkers()"></td>
									<td align="left"><label for="pStruct">{{ 'view_parkingstructs' | i18n }}</label></td>
								</tr>
								<tr>
									<td align="center"><input id="bikePoint" type="checkbox" ng-model="mapelements.bikepoints" ng-click="changeBikePointsMarkers()"></td>
									<td align="left"><label for="bikePoint">{{ 'view_bikepoints' | i18n }}</label></td>
								</tr>
								<tr>
									<td align="center"><input id="zones" type="checkbox" ng-model="mapelements.zones" ng-click="changeZonePolygons()"></td>
									<td align="left"><label for="zones">{{ 'view_zones' | i18n }}</label></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>