<div class="well" align="center"><!-- style="height: 250px" -->
	<table  style="width: 98%"><!-- ng-init="retrieveUserData()" style="width: 98%" -->
		<tr>
			<th colspan="3">
				<strong>{{ 'app_home_aux_info' | i18n }}</strong>
			</th>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td width="100%" colspan="3" align="justify">
				{{ 'app_home_aux_info_text' | i18n }}
			</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
<!-- 			<td width="12%" align="left"> -->
<!-- 				<a href="#/aux/add/uploadfile/4/1" class="btn btn-success" type="button">Carica File Log</a> -->
<!-- 			</td> -->
			<td width="12%" align="left">
				<a href="#/aux/logs/1" type="button" class="btn btn-primary" >{{ 'view_logs_link_text' | i18n }}</a>
			</td>
			<td width="88%" align="left">
				<a href="#/aux/add/1" type="button" class="btn btn-success" >{{ 'new_logs_link_text' | i18n }}</a>
			</td>
		</tr>
	</table>
</div>