<div class="row" ng-controller="ViewDashboardCtrlPark">
	<div>
<!-- 		<div class="col-md-2 left-filter"> -->
		<div ng-class="{'col-md-2':!tabletWiew, 'col-sm-2':tabletWiew}" class="left-filter">	
			<h4><strong>{{ 'left_filter_title' | i18n }}</strong></h4>
			<div ng-show="isInListTab()">
				<h5><strong>{{ 'viewAllPanelTitle' | i18n }}</strong></h5>
				<table width="100%" ng-controller="TimeFilterCtrl">
					<tr>
						<td align="left"><label class="left-filter"><input id="slotSupply" type="radio" ng-model="dashboard_topics_list" value="parkSupply" ng-change="updateSearchAndDashboardView(2)" ng-disabled="disableThemes">&nbsp;{{ 'park_parkSupply' | i18n }}</label></td><span style="color:gray"> </span><!-- changeDashboardView(2) -->
					</tr>
					<tr>
						<td align="left"><label class="left-filter"><input id="occupancy" type="radio" ng-model="dashboard_topics_list" value="occupation" ng-change="updateSearchAndDashboardView(2)" ng-disabled="disableThemes">&nbsp;{{ 'park_occupation' | i18n }}</label></td><!-- changeDashboardView(2) -->
					</tr>
					<tr>
						<td align="left"><label class="left-filter"><input id="receipt" type="radio" ng-model="dashboard_topics_list" value="receipts" ng-change="updateSearchAndDashboardView(2)" ng-disabled="disableThemes">&nbsp;{{ 'park_receipts' | i18n }}</label></td><!-- changeDashboardView(2) -->
					</tr>
					<tr>
						<td align="left"><label class="left-filter"><input id="time" type="radio" ng-model="dashboard_topics_list" value="timeCost" ng-change="updateSearchAndDashboardView(2)" ng-disabled="disableThemes">&nbsp;{{ 'park_timeCost' | i18n }}</label></td><!-- changeDashboardView(2) -->
					</tr>
					<tr>
						<td align="left"><label class="left-filter"><input id="park&ride" type="radio" ng-model="dashboard_topics_list" value="pr" ng-change="updateSearchAndDashboardView(2)" ng-disabled="true">&nbsp;<span style="color:gray">{{ 'park_pr' | i18n }}</span></label></td><!-- changeDashboardView(2) -->
					</tr>
					<tr>
						<td align="left"><label class="left-filter"><input id="balance" type="radio" ng-model="dashboard_topics_list" value="budget" ng-change="updateSearchAndDashboardView(2)" ng-disabled="true">&nbsp;<span style="color:gray">{{ 'park_budget' | i18n }}</span></label></td><!-- changeDashboardView(2) -->
					</tr>
				</table>
				<p style="font-size:3px">&nbsp;</p>
				<h5><strong>{{ 'space_filter_title' | i18n }}</strong></h5>
				<table width="100%">
					<tr ng-show="isAreaVisible()">
						<td align="left"><label class="left-filter"><input id="rateArea" type="radio" ng-model="dashboard_space_list" value="rate_area" ng-click="showAreaList(dashboard_topics_list)">&nbsp;{{ 'view_areas' | i18n }}</label></td>
					</tr>
					<tr ng-show="isZonesVisible0()">
						<td align="left"><label class="left-filter"><input id="zones0" type="radio" ng-model="dashboard_space_list" value="zone0" ng-click="showZoneList(dashboard_topics_list, 0)">&nbsp;{{ zone0_label | i18n }}</label></td>
					</tr>
					<tr ng-show="isZonesVisible1()">
						<td align="left"><label class="left-filter"><input id="zones1" type="radio" ng-model="dashboard_space_list" value="zone1" ng-click="showZoneList(dashboard_topics_list, 1)">&nbsp;{{ zone1_label | i18n }}</label></td>
					</tr>
					<tr ng-show="isZonesVisible2()">
						<td align="left"><label class="left-filter"><input id="zones2" type="radio" ng-model="dashboard_space_list" value="zone2" ng-click="showZoneList(dashboard_topics_list, 2)">&nbsp;{{ zone2_label | i18n }}</label></td>
					</tr>
					<tr ng-show="isZonesVisible3()">
						<td align="left"><label class="left-filter"><input id="zones3" type="radio" ng-model="dashboard_space_list" value="zone3" ng-click="showZoneList(dashboard_topics_list, 3)">&nbsp;{{ zone3_label | i18n }}</label></td>
					</tr>
					<tr ng-show="isZonesVisible4()">
						<td align="left"><label class="left-filter"><input id="zones4" type="radio" ng-model="dashboard_space_list" value="zone4" ng-click="showZoneList(dashboard_topics_list, 4)">&nbsp;{{ zone4_label | i18n }}</label></td>
					</tr>
					<tr ng-show="isStreetVisible()">
						<td align="left"><label class="left-filter"><input id="streets" type="radio" ng-model="dashboard_space_list" value="microzone_part" ng-click="showStreetList(dashboard_topics_list)">&nbsp;{{ 'view_streets' | i18n }}</label></td>
					</tr>
					<tr ng-show="isPsVisible()">
						<td align="left"><label class="left-filter"><input id="pStruct" type="radio" ng-model="dashboard_space_list" value="parkingstructs" ng-click="showStructList(dashboard_topics_list)">&nbsp;{{ 'view_parkingstructs' | i18n }}</label></td>
					</tr>
					<tr ng-show="isPmVisible()">
						<td align="left"><label class="left-filter"><input id="pMeters" type="radio" ng-model="dashboard_space_list" value="parkingmeter" ng-click="showPMeterList(dashboard_topics_list)" ng-disabled="dashboard_topics_list=='occupation' || dashboard_topics_list=='timeCost'">&nbsp;<span ng-if="dashboard_topics_list=='occupation' || dashboard_topics_list=='timeCost'" style="color:gray">{{ 'view_parkingmeters' | i18n }}</span><span ng-if="dashboard_topics_list!='occupation' && dashboard_topics_list!='timeCost'" style="color:#333">{{ 'view_parkingmeters' | i18n }}</span></label></td>
					</tr>
				</table>
				<p style="font-size:3px">&nbsp;</p>
			</div>
			<div ng-show="!isInListTab()">
				<div>
					<h5><strong>{{ 'viewAllPanelTitle' | i18n }}</strong></h5>
					<table width="100%" ng-controller="TimeFilterCtrl">
						<tr>
							<td align="left"><label class="left-filter"><input id="slotSupply" type="radio" ng-model="dashboard_topics" value="parkSupply" ng-change="updateSearchAndDashboardView(1)" ng-disabled="disableThemes">&nbsp;{{ 'park_parkSupply' | i18n }}</label></td><!--  changeDashboardView(1) -->
						</tr>
						<tr>
							<td align="left"><label class="left-filter"><input id="occupancy" type="radio" ng-model="dashboard_topics" value="occupation" ng-change="updateSearchAndDashboardView(1)" ng-disabled="disableThemes">&nbsp;{{ 'park_occupation' | i18n }}</label></td><!--  changeDashboardView(1) -->
						</tr>
						<tr>
							<td align="left"><label class="left-filter"><input id="receipt" type="radio" ng-model="dashboard_topics" value="receipts" ng-change="updateSearchAndDashboardView(1)" ng-disabled="disableThemes">&nbsp;{{ 'park_receipts' | i18n }}</label></td><!--  changeDashboardView(1) -->
						</tr>
						<tr>
							<td align="left"><label class="left-filter"><input id="time" type="radio" ng-model="dashboard_topics" value="timeCost" ng-change="updateSearchAndDashboardView(1)" ng-disabled="disableThemes">&nbsp;{{ 'park_timeCost' | i18n }}</label></td><!--  changeDashboardView(1) -->
						</tr>
						<tr>
							<td align="left"><label class="left-filter"><input id="park&ride" type="radio" ng-model="dashboard_topics" value="pr" ng-change="updateSearchAndDashboardView(1)" ng-disabled="true">&nbsp;<span style="color:gray">{{ 'park_pr' | i18n }}</span></label></td><!--  changeDashboardView(1) -->
						</tr>
						<tr>
							<td align="left"><label class="left-filter"><input id="balance" type="radio" ng-model="dashboard_topics" value="budget" ng-change="updateSearchAndDashboardView(1)" ng-disabled="true">&nbsp;<span style="color:gray">{{ 'park_budget' | i18n }}</span></label></td><!--  changeDashboardView(1) -->
						</tr>
					</table>
					<p style="font-size:3px">&nbsp;</p>
				</div>
				<div>
					<h5><strong>{{ 'space_filter_title' | i18n }}</strong></h5>
					<table width="100%">
						<tr ng-show="isAreaVisible()">
							<td align="left"><label class="left-filter"><input id="rateArea" type="checkbox" ng-model="dashboard_space.rate_area" ng-click="changeAreaPolygons(dashboard_topics)">&nbsp;{{ 'view_areas' | i18n }}</label></td>
						</tr>
						<tr ng-show="isZonesVisible0()">
							<td align="left"><label class="left-filter"><input id="zones0" type="checkbox" ng-model="dashboard_space.zone0" ng-click="changeZonePolygons(dashboard_topics, 0)">&nbsp;{{ zone0_label | i18n }}</label></td>
						</tr>
						<tr ng-show="isZonesVisible1()">
							<td align="left"><label class="left-filter"><input id="zones1" type="checkbox" ng-model="dashboard_space.zone1" ng-click="changeZonePolygons(dashboard_topics, 1)">&nbsp;{{ zone1_label | i18n }}</label></td>
						</tr>
						<tr ng-show="isZonesVisible2()">
							<td align="left"><label class="left-filter"><input id="zones2" type="checkbox" ng-model="dashboard_space.zone2" ng-click="changeZonePolygons(dashboard_topics, 2)">&nbsp;{{ zone2_label | i18n }}</label></td>
						</tr>
						<tr ng-show="isZonesVisible3()">
							<td align="left"><label class="left-filter"><input id="zones3" type="checkbox" ng-model="dashboard_space.zone3" ng-click="changeZonePolygons(dashboard_topics, 3)">&nbsp;{{ zone3_label | i18n }}</label></td>
						</tr>
						<tr ng-show="isZonesVisible4()">
							<td align="left"><label class="left-filter"><input id="zones4" type="checkbox" ng-model="dashboard_space.zone4" ng-click="changeZonePolygons(dashboard_topics, 4)">&nbsp;{{ zone4_label | i18n }}</label></td>
						</tr>
						<tr ng-show="isStreetVisible()">
							<td align="left"><label class="left-filter"><input id="streets" type="checkbox" ng-model="dashboard_space.microzone_part" ng-click="changeStreetPolylines(dashboard_topics)">&nbsp;{{ 'view_streets' | i18n }}</label></td>
						</tr>
						<tr ng-show="isPsVisible()">
							<td align="left"><label class="left-filter"><input id="pStruct" type="checkbox" ng-model="dashboard_space.parkingstructs" ng-click="changeParkingStructuresMarkers(dashboard_topics)">&nbsp;{{ 'view_parkingstructs' | i18n }}</label></td>
						</tr>
						<tr ng-show="isPmVisible()">
							<td align="left"><label class="left-filter"><input id="pMeters" type="checkbox" ng-model="dashboard_space.parkingmeter" ng-click="changeParkingMetersMarkers(dashboard_topics)" ng-disabled="dashboard_topics=='occupation' || dashboard_topics=='timeCost'">&nbsp;<span ng-if="dashboard_topics=='occupation' || dashboard_topics=='timeCost'" style="color:gray">{{ 'view_parkingmeters' | i18n }}</span><span ng-if="dashboard_topics!='occupation' && dashboard_topics!='timeCost'" style="color:#333">{{ 'view_parkingmeters' | i18n }}</span></label></td>
						</tr>
					</table>
					<p style="font-size:3px">&nbsp;</p>
				</div>
			</div>
			<div ng-show="dashboard_topics_list=='occupation' || dashboard_topics_list=='receipts' || dashboard_topics_list=='timeCost' || dashboard_topics=='occupation' || dashboard_topics=='receipts' || dashboard_topics=='timeCost'">
				<h5><strong>{{ 'occupation_filter_title' | i18n }}</strong></h5>
				<table width="100%" ng-controller="TimeFilterCtrl">
	                <tr>
	                    <td align="left">
	                        <select class="form-control input-sm" ng-model="vis" ng-change="updateSearch()">
	                            <option ng-repeat="v in visOptions" value="{{v}}">{{ v | i18n}}</option>
	                        </select>
	                    </td>
	                </tr>
	                <tr ng-show="vehicleTypes.length > 1">
	                    <td align="left">
	                        <label class="left-filter">{{ 'vehicle_type_label' | i18n }}</label>
	                        <select class="form-control input-sm" ng-model="vehicleType" ng-change="updateSearch()">
	                            <option ng-repeat="vt in vehicleTypes" value="{{ vt.name }}">{{ vt.language_key | i18n }}</option>
	                        	<option value="">{{ 'all_vehicle_types' | i18n }}</option>
	                        </select>
	                    </td>
	                </tr>
	                <tr ng-if="vis=='vis_medium' || vis=='vis_last_value'">
	                    <td align="left">
	                        <label class="left-filter">{{'year_vis'|i18n}}</label><!-- ticks="sliderMonth.ticks" ticks_positions="sliderMonth.ticks_pos" ticks_labels="sliderMonth.ticks_labels" ticks_snap_bounds="sliderMonth.ticks_snap_bound" -->
	                        <select class="form-control input-sm" ng-model="year" ng-change="updateYear(year)">
	                            <option value="">{{'all_years_vis'|i18n}}</option>
	                            <option ng-repeat="y in years" value="{{y}}">{{y}}</option>
	                        </select>
	                    </td>
	                </tr>
					<tr ng-if="vis=='vis_medium' || vis=='vis_medium_year' || vis=='vis_last_value'">
						<td align="left">
							<br/>
							<label class="left-filter"><input id="monthFilter" type="checkbox" ng-model="dashboard_filter.months" ng-click="updateFilterObject(dashboard_filter, 1)">&nbsp;{{'month_vis'| i18n}}</label><!-- ticks="sliderMonth.ticks" ticks_positions="sliderMonth.ticks_pos" ticks_labels="sliderMonth.ticks_labels" ticks_snap_bounds="sliderMonth.ticks_snap_bound" -->
<!-- 	                        <br/><br/> -->
								<div ng-show="dashboard_filter.months">
									<input ng-if="isActiveItalian()" ng-model="monthSliderValue" type="text" id="monthSlider" slider options="monthSliderOptions" ng-change="updateMonth(monthSliderValue)" /><!-- ng-change="updateSearch()" -->
									<input ng-if="isActiveEnglish()" ng-model="monthSliderValue" type="text" id="monthSlider" slider options="monthSliderOptionsEng" ng-change="updateMonth(monthSliderValue)" /><!-- ng-change="updateSearch()" -->
								</div>
<!-- 							<br/> -->
						</td>
					</tr>
	                <tr ng-if="vis !='vis_medium_day'">
						<td align="left">
	                        <br/>
	                        <label class="left-filter"><input id="dayFilter" type="checkbox" ng-model="dashboard_filter.dows" ng-click="updateFilterObject(dashboard_filter, 2)">&nbsp;{{'day_vis'|i18n}}</label>
	                        <div ng-show="dashboard_filter.dows">
		                        <div>
		                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="dayOptions.value" value="wd" ng-change="updateSearch()">{{'wd_vis'|i18n}}</label>
		                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="dayOptions.value" value="we" ng-change="updateSearch()">{{'we_vis'|i18n}}</label>
		                        </div>
		                        <div><label class="left-filter"><input class="panel-radio" type="radio" ng-model="dayOptions.value" value="custom" ng-change="updateSearch()">{{'custom_vis'|i18n}}</label></div><!-- ng-change="updateSearch()" -->
	                    	</div>
	                    </td>
	                </tr>
	                <tr ng-if="vis !='vis_medium_day' && dayOptions.value=='custom'" ng-show="dashboard_filter.dows">
	                    <td align="left">
<!-- 	                        <input ng-model="daySliderValue" type="text" id="daySlider" slider options="daySliderOptions" ng-change="updateDay(daySliderValue)" /> -->
	                    	<table width="100%">
	                    		<tr>
	                    			<td><label class="left-filter"><input id="dayval_mo" type="checkbox" ng-model="dow_val.mo" ng-change="updateDay(dow_val)">{{'mon_vis'|i18n}}</label></td>
	                    			<td><label class="left-filter"><input id="dayval_tu" type="checkbox" ng-model="dow_val.tu" ng-change="updateDay(dow_val)">{{'tue_vis'|i18n}}</label></td>
	                    			<td><label class="left-filter"><input id="dayval_we" type="checkbox" ng-model="dow_val.we" ng-change="updateDay(dow_val)">{{'wed_vis'|i18n}}</label></td>
	                    			<td><label class="left-filter"><input id="dayval_th" type="checkbox" ng-model="dow_val.th" ng-change="updateDay(dow_val)">{{'thu_vis'|i18n}}</label></td>
	                    			<td><label class="left-filter"><input id="dayval_fr" type="checkbox" ng-model="dow_val.fr" ng-change="updateDay(dow_val)">{{'fri_vis'|i18n}}</label></td>
	                    			<td><label class="left-filter"><input id="dayval_sa" type="checkbox" ng-model="dow_val.sa" ng-change="updateDay(dow_val)">{{'sat_vis'|i18n}}</label></td>
	                    			<td><label class="left-filter"><input id="dayval_su" type="checkbox" ng-model="dow_val.su" ng-change="updateDay(dow_val)">{{'sun_vis'|i18n}}</label></td>
	                    		</tr>
	                    	</table>
	                    </td>
	                </tr>
	                <tr>
						<td align="left">
	                        <br/>
	                        <label class="left-filter"><input id="hourFilter" type="checkbox" ng-model="dashboard_filter.hours" ng-click="updateFilterObject(dashboard_filter, 3)">&nbsp;{{'hour_vis'|i18n}}</label>
	                        <div ng-show="dashboard_filter.hours">
		                        <div>
		                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="hourOptions.value" value="morning" ng-change="updateSearch()">{{'morning_vis'|i18n}}</label>
		                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="hourOptions.value" value="afternoon" ng-change="updateSearch()">{{'afternoon_vis'|i18n}}</label>
		                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="hourOptions.value" value="night" ng-change="updateSearch()">{{'night_vis'|i18n}}</label>
		                        </div>
		                     	<div><label class="left-filter"><input class="panel-radio" type="radio" ng-model="hourOptions.value" value="custom">{{'custom_vis'|i18n}}</label></div><!-- ng-change="updateSearch()" -->
	                    	</div>
	                    </td>
	                </tr>
					<tr ng-if="hourOptions.value=='custom'" ng-show="dashboard_filter.hours">
						<td align="left">
	                        <input ng-model="hourSliderValue" type="text" id="hourSlider" slider options="hourSliderOptions" ng-change="updateHour(hourSliderValue)" />
	                    </td>
					</tr>
<!-- 					<tr> -->
<!-- 						<td> -->
<!-- 	                    	<a href ng-click="showOtherSettings(!isOtherSettingsShow())" title="{{ 'link_view_title' | i18n }}" alt="{{ 'link_view_title' | i18n }}"> -->
<!-- 	                        	<h5><i class="glyphicon glyphicon-wrench"></i>&nbsp;<strong>{{'other_settings'|i18n}}</strong></h5> -->
<!-- 	                        </a> -->
<!-- 	                        <table width="100%" ng-show="isOtherSettingsShow()"> -->
<!-- 								<tr> -->
<!-- 									<td align="left"><label class="left-filter"><input id="averageZoneOcc" type="checkbox" ng-model="useAverageZoneOccupation" ng-change="setAverageZoneValue(useAverageZoneOccupation);updateSearch(2)">&nbsp;{{ 'use_average_zone_occ' | i18n }}</label></td> -->
<!-- 								</tr> -->
<!-- 							</table> -->
<!-- 						</td>	 -->
<!-- 					</tr> -->
					<!-- <tr ng-if="dashboard_topics=='occupation' || dashboard_topics_list=='occupation'">
						<td>
                            <h5><strong>{{'other_settings'|i18n}}</strong></h5>
                            <table width="100%" >
								<tr>
									<td align="left">
										<label class="left-filter">
											<input id="averageZoneOcc" type="checkbox" ng-model="useAverageZoneOccupation" ng-change="setAverageZoneValue(useAverageZoneOccupation);updateSearch()">&nbsp;{{ 'use_average_zone_occ' | i18n }}
										</label>
									</td>
								</tr>
							</table>
						</td>
					</tr> -->		
				</table>
			</div>	
		</div>
	</div>
<!-- 	<div class="col-md-10"> -->
	<div ng-class="{'col-md-10':!tabletWiew, 'col-sm-10':tabletWiew}">	
		<tabset>
			<tab  ng-repeat="tab in viewparktabs" heading="{{ tab.title | i18n }}" active="tab.active" disabled="tab.disabled"  select="setIndex($index, tab)">
				<br>
				<div ng-include="tab.content"></div>
			</tab>
		</tabset>
	</div>
	
</div>	