<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Gestione Parcheggi</display-name>
   <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
	<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>
    	    /WEB-INF/spring/filterContext.xml
    	    /WEB-INF/mongo/mongo-config.xml
    	</param-value>
  </context-param>
  <servlet>
    <servlet-name>SpringAppDispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/SpringAppDispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
        <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:8080/metroparco/rest/nosec/*</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
  	<servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>
                io.swagger.jaxrs.json,
                io.swagger.jaxrs.listing,
                {it.smartcommunitylab.parking.management.web.controller.EditingController.java}
            </param-value>
        </init-param>
    </servlet>
  <servlet-mapping>
      <servlet-name>jersey</servlet-name>
      <url-pattern>/metroparco/rest/nosec/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/imgs/*</url-pattern>
    <url-pattern>/img/*</url-pattern>
    <url-pattern>/pdf/*</url-pattern>
    <url-pattern>/csv/*</url-pattern>
    <url-pattern>/upload/*</url-pattern>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/lib/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/fonts/*</url-pattern>
    <url-pattern>/i18n/*</url-pattern>
    <url-pattern>/partials/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpringAppDispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/partials/errors/error.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/partials/errors/error.html</location>
  </error-page>
  	<session-config>
  		<session-timeout>30</session-timeout>
	</session-config>
</web-app>