<div class="col-md-12" align="center" ng-init="initParkLogCreation()" ><!-- style="height: 250px" -->
	<div ng-show="!showManualInsertion && showDetails">
		<h4 align="left"><strong>{{ 'log_details' | i18n }}</strong></h4>
		<table class="table table-striped" style="width: 100%">
			<tr>
				<td width="30%"><strong>{{ 'log_objId' | i18n }}</strong></td>
				<td>{{ logDetails.objId }}</td>
			</tr>
			<tr>
				<td width="30%"><strong>{{ 'log_object_name' | i18n }}</strong></td>
				<td>{{ logDetails.value.name }}</td>
			</tr>
			<tr>
				<td width="30%"><strong>{{ 'log_type' | i18n }}</strong></td>
				<td>{{ 'parking_type_in_lists' | i18n }}</td>
			</tr>
			<tr>
				<td width="30%"><strong>{{ 'log_time' | i18n }}</strong></td>
				<td>{{ (logDetails.time | date:'short') }}</td>
			</tr>
			<tr ng-if="logDetails.logPeriod != null">
				<td width="30%"><strong>{{ 'log_period' | i18n }}</strong></td>
				<td>{{ (logDetails.logPeriod[0] | date:'short') }} - {{ (logDetails.logPeriod[1] | date:'short') }}</td>
			</tr>
			<tr>
				<td width="30%"><strong>{{ 'log_author' | i18n }}</strong></td>
				<td>
					<span ng-show="logDetails.author == 999 || logDetails.author == logUsername">{{ 'system_log_author' | i18n }}</span>
					<span ng-show="logDetails.author != 999 && logDetails.author != logUsername">{{ logDetails.author }}</span>
				</td>
			</tr>
			<tr>
				<td width="30%"><strong>{{ 'log_insertion' | i18n }}</strong></td>
				<td>
					<span ng-show="logDetails.isSystemLog">{{ 'log_system_insertion_value' | i18n }}</span>
					<span ng-show="!logDetails.isSystemLog">{{ 'log_client_insertion_value' | i18n }}</span>
				</td>
			</tr>
			<tr>
				<td colspan="2"><strong>{{ 'log_value' | i18n }}</strong></td>
			</tr>
			<tr ng-repeat="sc in logDetails.value.slotsConfiguration">
				<td colspan="2" ng-show="sc.vehicleTypeActive">
					<table width="100%" ><!-- frame="box" -->
					    <tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_slotNum.visible">
					    	<td colspan="2"><strong>{{ getVehicleKey(sc.vehicleType) | i18n }}</strong></td>
					    </tr>
					    <tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_handicappedSlot.visible && sc.handicappedSlotNumber">
							<td class="detailsLogTableSX">{{ 'street_handicapped_slot' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.handicappedSlotOccupied">{{ sc.handicappedSlotOccupied }}</span><span ng-show="!sc.handicappedSlotOccupied">0</span>/{{ sc.handicappedSlotNumber }}</td>
						</tr>
						<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_reservedSlot.visible && sc.reservedSlotNumber">
							<td class="detailsLogTableSX">{{ 'street_reserved_slot' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.reservedSlotOccupied">{{ sc.reservedSlotOccupied }}</span><span ng-show="!sc.reservedSlotOccupied">0</span>/{{ sc.reservedSlotNumber }}</td>
				    	</tr>
					   	<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_paidSlot.visible && sc.paidSlotNumber">
				    		<td class="detailsLogTableSX">{{ 'street_paidpark_slot' | i18n }}:</td>
				    		<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.paidSlotOccupied">{{ sc.paidSlotOccupied }}</span><span ng-show="!sc.paidSlotOccupied">0</span>/{{ sc.paidSlotNumber }}</td>
				    	</tr>
						<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_timedSlot.visible && sc.timedParkSlotNumber">
				    		<td class="detailsLogTableSX">{{ 'street_timedpark_slot' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.timedParkSlotOccupied">{{ sc.timedParkSlotOccupied }}</span><span ng-show="!sc.timedParkSlotOccupied">0</span>/{{ sc.timedParkSlotNumber }}</td>
						</tr>
						<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_freeSlot.visible && sc.freeParkSlotNumber">
							<td class="detailsLogTableSX">{{ 'street_freepark_slot' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.freeParkSlotOccupied">{{ sc.freeParkSlotOccupied }}</span><span ng-show="!sc.freeParkSlotOccupied">0</span>/{{ sc.freeParkSlotNumber }}</td>
						</tr>
						<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_freeSlotSign.visible && sc.freeParkSlotSignNumber">
							<td class="detailsLogTableSX">{{ 'street_freepark_slot_signed' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.freeParkSlotSignOccupied">{{ sc.freeParkSlotSignOccupied }}</span><span ng-show="!sc.freeParkSlotSignOccupied">0</span>/{{ sc.freeParkSlotSignNumber }}</td>
						</tr>
						<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_rechargeableSlot.visible && sc.rechargeableSlotNumber">
							<td class="detailsLogTableSX">{{ 'street_rechargeable_slot' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.rechargeableSlotOccupied">{{ sc.rechargeableSlotOccupied }}</span><span ng-show="!sc.rechargeableSlotOccupied">0</span>/{{ sc.rechargeableSlotNumber }}</td>
						</tr>
						<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_loadingUnloadingSlot.visible && sc.loadingUnloadingSlotNumber">
							<td class="detailsLogTableSX">{{ 'street_loading_unloading_slot' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.loadingUnloadingSlotOccupied">{{ sc.loadingUnloadingSlotOccupied }}</span><span ng-show="!sc.loadingUnloadingSlotOccupied">0</span>/{{ sc.loadingUnloadingSlotNumber }}</td>
						</tr>
						<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_pinkSlot.visible && sc.pinkSlotNumber">
							<td class="detailsLogTableSX">{{ 'street_pink_slot' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.pinkSlotOccupied">{{ sc.pinkSlotOccupied }}</span><span ng-show="!sc.pinkSlotOccupied">0</span>/{{ sc.pinkSlotNumber }}</td>
						</tr>
						<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_carSharingSlot.visible && sc.carSharingSlotNumber">
							<td class="detailsLogTableSX">{{ 'street_car_sharing_slot' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;<span ng-show="sc.carSharingSlotOccupied">{{ sc.carSharingSlotOccupied }}</span><span ng-show="!sc.carSharingSlotOccupied">0</span>/{{ sc.carSharingSlotNumber }}</td>
						</tr>
						<tr ng-show="manageVehicleTypesPs(sc.vehicleType).s_unusuableSlot.visible && sc.unusuableSlotNumber">
							<td class="detailsLogTableSX">{{ 'street_unusuable_slot' | i18n }}:</td>
							<td class="detailsLogTableDX">&nbsp;{{ sc.unusuableSlotNumber }}</td>
						</tr>
					</table>
				</td>	
			</tr>
			<!-- <tr>
				<td colspan="2">
					<table width="100%">
						<tr>
							<td width="30%"><strong>{{ 'log_slot_standard' | i18n }}</strong></td>
							<td>{{logDetails.value.slotsPaying}}</td>
						</tr>
						<tr>
							<td width="30%"><strong>{{ 'log_slot_occupied_on_standard' | i18n }}</strong></td>
							<td>{{logDetails.value.slotsOccupiedOnPaying}}</td>
						</tr>
						<tr>
							<td width="30%"><strong>{{ 'log_slot_handicapped' | i18n }}</strong></td>
							<td>{{logDetails.value.slotsHandicapped}}</td>
						</tr>
						<tr>
							<td width="30%"><strong>{{ 'log_slot_occupied_on_handicapped' | i18n }}</strong></td>
							<td>{{logDetails.value.slotsOccupiedOnHandicapped}}</td>
						</tr>
						<tr>
							<td width="30%"><strong>{{ 'log_slot_unavailable' | i18n }}</strong></td>
							<td>{{logDetails.value.slotsUnavailable}}</td>
						</tr>
					</table>
				</td>
			</tr> -->
		</table>
		<table style="width: 100%">
			<tr>	
				<td align="right">
					<button type="button" class="btn btn-danger btn-lg" ng-click="closeDetails(2)">{{ 'text_btn_close' | i18n  }}</button>
				</td>
			</tr>	
		</table>
	</div>
	<div ng-show="!showManualInsertion && !showDetails">
		<div ng-show="isOccStructAddShow()">
			<table width="100%">
	   			<tr>
	   				<td width="50%" align="left">
<!-- 	   					<h3 class="panel-title"><strong>{{ 'new_log_parking' | i18n }}</strong></h3> -->
	   				</td>
	   				<td width="40%" align="right">
						<a href ng-click="showLogManualCreation()" class="btn btn-success" type="button">{{ 'btn_load_log_text' | i18n }}</a>
					</td>
					<td width="10%" align="right">
						<a href="#/auxiliary/add/uploadfile/2/1" class="btn btn-success" type="button">{{ 'btn_load_file_log_text' | i18n }}</a>
					</td>
	   			</tr>
	   		</table>
	   	</div>	
		<div class="logwrapper">
			<table class="table table-striped" style="width: 100%">
				<tr ng-show="getLogData().length != 0">
					<th width="3%"></th>
					<th width="24%">{{ 'log_objId' | i18n }}</th>
					<th width="15%">{{ 'log_type' | i18n }}</th>
					<th width="15%">{{ 'log_time' | i18n }}</th>
					<th width="15%">{{ 'log_author' | i18n }}</th>
					<th width="23%">{{ 'log_object_name' | i18n }}</th>
					<th width="5%"></th>
				</tr>
				<tbody class="animate-repeat"
					ng-repeat="log in getLogData()">
				<!-- ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
				<tr>
					<td width="3%"><i class="glyphicon glyphicon-import" ng-show="log.isSystemLog" title="{{ 'system_log_alt_title' | i18n }}" alt="{{ 'system_log_alt_title' | i18n }}"></i></td>
					<td width="24%" align="left">{{log.objId}}</td>
					<td width="15%" align="left">
						<span ng-show="log.type == 'it.smartcommunitylab.parking.management.web.auxiliary.model.Parking'">{{ 'parking_type_in_lists' | i18n }}</span>
						<span ng-show="log.type != 'it.smartcommunitylab.parking.management.web.auxiliary.model.Parking'">{{ 'street_type_in_lists' | i18n }}</span>
					</td>
					<td width="15%" align="left">{{ (log.time | date:'short') }}</td>
					<td width="15%" align="left">
						<span ng-show="log.author == 999 || log.author == logUsername">{{ 'system_log_author' | i18n }}</span>
						<span ng-show="log.author != 999 && log.author != logUsername">{{ log.author }}</span>
					</td>
					<td width="23%" align="left">
<!-- 						<span ng-show="log.type == 'it.smartcommunitylab.parking.management.web.auxiliary.model.Parking'">name: {{log.value.name}}, agency: {{log.value.agency}}, position: {{log.value.position}}, slotsTotal: {{log.value.slotsTotal}}, slotsOccupied: {{log.value.slotsOccupiedOnTotal}}, slotsUnavailable: {{log.value.slotsUnavailable}}</span> -->
<!-- 						<span ng-show="log.type != 'it.smartcommunitylab.parking.management.web.auxiliary.model.Parking'">name: {{log.value.name}}, agency: {{log.value.agency}}, position: {{log.value.position}}, slotsFree: {{log.value.slotsFree}}, slotsOccupiedOnFree: {{log.value.slotsOccupiedOnFree}}, slotsPaying: {{log.value.slotsPaying}}, slotsOccupiedOnPaying: {{log.value.slotsOccupiedOnPaying}}, slotsTimed: {{log.value.slotsTimed}}, slotsOccupiedOnTimed: {{log.value.slotsOccupiedOnTimed}}, slotsHandicapped: {{log.value.slotsHandicapped}}</span> -->
						{{log.value.name}}
					</td>
					<td width="5%" align="center">
						<a href type="button" class="btn btn-primary btn-xs" ng-click="viewDetails(2, log)" alt="{{ 'link_view_title' | i18n }}" title="{{ 'link_view_title' | i18n }}"><i class="glyphicon glyphicon-eye-open"></i></a>
					</td>
				</tr>
				</tbody>
				<tr ng-show="getLogData().length == 0">
					<td colspan="7"><strong>{{ 'no_logs_in_lists' | i18n }}</strong></td>
				</tr>
			</table>
		</div>
		<table width="100%">
			<tr>
				<td width="33%">
				</td>
                <td width="34%" align="center">
                    <button class="btn btn-default"
                        ng-disabled="geCturrentPage() == 0"
                        ng-click="stepPage(-1)">{{ 'previous_label' | i18n }}</button>
                        {{getCurrentPage()+1}}/{{totalPages()}}
                    <button class="btn btn-default"
                        ng-disabled="getCurrentPage() >= totalPages()"
                        ng-click="stepPage(1)">{{ 'next_label' | i18n }}</button>
                </td>
				<td width="33%" align="left">
	<!-- 				<button class="btn btn-success" ng-click="getStreetOccupancyCsv()">Crea CSV</button> -->
	<!-- 				&nbsp;&nbsp; -->
	<!-- 				<a class="btn btn-success" target="_blank" href="{{ streetCvsFile }}">Scarica CSV</a> -->
				</td>
			</tr>
		</table>	
	</div>
	<div class="col-md-12" ng-show="showManualInsertion">
		<form role="form" name="form">
			<div class="panel panel-default" width="90%">
			  	<table width="100%">
		   			<tr>
		   				<td width="50%" align="left">
		   					<h3 class="panel-title"><strong>{{ 'new_log_parking' | i18n }}</strong></h3>
		   				</td>
		   				<td width="50%" align="right">
	   						<a href ng-click="hideLogManualCreation()" type="button" class="btn btn-danger btn-xs" ><i class="glyphicon glyphicon-remove"></i></a>
	   					</td>	
		   			</tr>
		   		</table>
			  	<div class="panel-body">
			  		<div class="form-group">
				    	<label for="parkN">{{ 'parking_name_log' | i18n }}</label>
				    	<select id="parkN" name="parkN" class="form-control" ng-options="p as p.name for p in allParking" ng-model="myParking" required ng-change="getParkDetailData(myParking)">
				    		<option value="">{{ 'parking_log_placeholder' | i18n }}</option>
				    	</select>
				   		<div class="alert alert-danger" ng-show="!isInit && form.parkN.$error.required">{{ 'parking_name_select_err_required' | i18n }}</div>
					</div>
					<table width="100%" ng-show="parkLoadedAndSelected">
						<tr>
							<td><strong>{{ 'park_id' | i18n }}</strong></td>
							<td>{{ myParkingDetails.id }}</td>
						</tr>
						<tr>
							<td><strong>{{ 'park_name' | i18n }}</strong></td>
							<td>{{ myParkingDetails.name }}</td>
						</tr>
						<tr>
							<td colspan="2"><hr/></td>
						</tr>
					</table>
<!-- 					<div class="form-group" ng-show="parkLoadedAndSelected"> -->
<!-- 						<label for="totalSlot">{{ 'parking_user_log' | i18n }}</label> -->
<!-- 				    	<input id="totalSlot" type="text" class="form-control" name="sUserLog" ng-model="myParkingDetails.user" ng-pattern="onlyNumbers" placeholder="{{ 'street_usercode_placeholder' | i18n }}" required > -->
<!-- 					   	<div class="alert alert-danger" ng-show="!isInit && form.sUserLog.$error.required">{{ 'parking_userlog_err_required' | i18n }}</div> -->
<!-- 					   	<div class="alert alert-danger" ng-show="!isInit && form.sUserLog.$error.pattern">{{ 'parking_userlog_pattern' | i18n }}</div> -->
<!-- 					</div> -->
					<div class="form-group" ng-show="parkLoadedAndSelected">
						<label class="group-label" for="logtime">{{ 'parking_time_log' | i18n }}:</label>
				   		<div class="panel panel-default" width="90%">
					   		<div class="panel-body">
								<table width="100%">
									<tr>
										<td width="6%"><strong>{{ 'parking_day_log' | i18n }}: </strong></td>
										<td width="39%">
											<input id="logtime" name="pLogTime" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myParkingDetails.loghour" is-open="pLogtime.open" ng-click="pLogtime.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" required />
										</td>
										<td width="5%" align="center"><strong>{{ 'log_period_time' | i18n }}: </strong></td>
										<td width="50%">
											<timepicker id="time" name="pLogOra" ng-model="myParkingDetails.logtime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></timepicker>
										</td>
									</tr>
									<tr>
										<td colspan="4">
											<div class="alert alert-danger" ng-show="!isInit && form.pLogTime.$error.required">{{ 'parking_timelog_err_required' | i18n }}</div>
											<div class="alert alert-danger" ng-show="!isInit && form.pLogOra.$error.required">{{ 'log_time_error_required' | i18n }}</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
				    </div>
					<div ng-show="parkLoadedAndSelected">
						<label class="group-label" >{{ 'log_period' | i18n }}</label>
				   		<div class="panel panel-default" width="90%">
					   		<div class="panel-body">
					   			<table width="100%">
						    		<tr>
						    			<td width="6%"><strong>{{ 'log_period_from_date' | i18n }}: </strong></td>
						    			<td width="39%">
						    				<input id="logperiodf" name="psLogPeriodF" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myParkingDetails.logPeriodFrom" is-open="plogperiodf.open" ng-click="plogperiodf.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" />
						    			</td>
						    			<td width="5%" align="center"><strong>{{ 'log_period_time' | i18n }}: </strong></td>
						    			<td width="50%">
						    				<timepicker ng-model="myParkingDetails.startTimePeriod" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
						    			</td>
						    		</tr>
						    		<tr>
						    			<td width="6%"><strong>{{ 'log_period_to_date' | i18n }}: </strong></td>
						    			<td width="39%">
						    				<input id="logperiodt" name="psLogPeriodT" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myParkingDetails.logPeriodTo" is-open="plogperiodt.open" ng-click="plogperiodt.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" />
						    			</td>
						    			<td width="5%" align="center"><strong>{{ 'log_period_time' | i18n }}: </strong></td>
						    			<td width="50%">
						    				<timepicker ng-model="myParkingDetails.endTimePeriod" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
						    			</td>
						    		</tr>
						    		<tr ng-show="(showErrorFromMajorTo)">
						    			<td colspan="4">
						    				<div class="alert alert-danger">{{ 'from_to_period_err' | i18n }}</div>
						    			</td>
						    		</tr>
						    		<tr ng-show="(showErrorEmptyVal)">
					   					<td colspan="4">
					   						<div class="alert alert-danger">{{ 'start_or_end_emplty_period_err' | i18n }}</div>
					   					</td>
					   				</tr>
						    	</table>
					   		</div>
					   	</div>
					</div>
					<div ng-show="parkLoadedAndSelected">
			   		<label>{{ 'street_slots' | i18n }}</label>
					   	<div class="panel panel-default" ng-repeat="sc in myParkingDetails.slotsConfiguration track by $index" >
							<div class="panel-heading">
		    					<table width="100%">
								<tr>
									<td width="40%">
										<input id="insertSLog" type="checkbox" name="insertStLog" ng-model="sc.updateData">
									</td>
									<td width="20%" align="center"><h3 class="panel-title">{{ getVehicleKey(sc.vehicleType) | i18n }}</h3></td>
									<td width="30%" align="left"><span class="glyphicon glyphicon-chevron-up" ng-show="vehicle_slots_panel_showed($index)" ng-click="hideVehicleSlotsPanel($index)"></span><span class="glyphicon glyphicon-chevron-down" ng-show="!vehicle_slots_panel_showed($index)" ng-click="showVehicleSlotsPanel($index)"></span></td>
									<td width="10%" align="right"></td>
								</tr>
								</table>
		  					</div>
		  					<div class="well" ng-show="vehicle_slots_panel_showed($index)"><!-- class="panel-body" -->
							   	<div class="panel-body">
									<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_handicappedSlot.visible">
								    	<label class="col-md-2 col-form-label" for="handicappedSlot">{{ 'street_handicapped_slot' | i18n }}</label>
								    	<div class="col-md-9">
								    		<input id="handicappedSlot" type="number" class="form-control" name="sHandicappedslot" ng-model="sc.handicappedSlotOccupied" ng-pattern="onlyNumbers" ng-required="sc.handicappedSlotNumber > 0" ng-disabled="sc.handicappedSlotNumber <= 0" min="0" ng-max="sc.handicappedSlotNumber - sc.unusuableSlotNumber" >
								    	</div>
								    	<div class="col-md-1">
								    		<strong>/ {{ sc.handicappedSlotNumber }}</strong>
								    	</div>
								    	<div class="col-md-12 field-error" ng-show="form.sHandicappedslot.$error.pattern">{{ 'log_street_occupied_handicapped_error_pattern' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sHandicappedslot.$error.required">{{ 'log_street_occupied_handicapped_error_required' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sHandicappedslot.$error.min">{{ 'log_street_occupied_handicapped_error_min' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sHandicappedslot.$error.max">{{ 'log_street_occupied_handicapped_error_max' | i18n }}</div>
								   	</div>
								   	<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_reservedSlot.visible">
								    	<label class="col-md-2 col-form-label" for="reservedSlot">{{ 'street_reserved_slot' | i18n }}</label>
								    	<div class="col-md-9">
								    		<input id="reservedSlot" type="number" class="form-control" name="sReservedslot" ng-model="sc.reservedSlotOccupied" ng-pattern="onlyNumbers" ng-required="sc.reservedSlotNumber > 0" ng-disabled="sc.reservedSlotNumber <= 0" min="0" ng-max="sc.reservedSlotNumber - sc.unusuableSlotNumber" >
								    	</div>
								    	<div class="col-md-1">
								    		<strong>/ {{ sc.reservedSlotNumber }}</strong>
								    	</div>
								    	<div class="col-md-12 field-error" ng-show="form.sReservedslot.$error.pattern">{{ 'log_street_occupied_reserved_error_pattern' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sReservedslot.$error.required">{{ 'log_street_occupied_reserved_error_required' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sReservedslot.$error.min">{{ 'log_street_occupied_reserved_error_min' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sReservedslot.$error.max">{{ 'log_street_occupied_reserved_error_max' | i18n }}</div>
								   	</div>
								   	<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_timedSlot.visible">
								    	<label class="col-md-2 col-form-label" for="timedSlot">{{ 'street_timedpark_slot' | i18n }}</label>
								    	<div class="col-md-9">
								    		<input id="timedSlot" type="number" class="form-control" name="sTimedslot" ng-model="sc.timedParkSlotOccupied" ng-pattern="onlyNumbers" ng-required="sc.timedParkSlotNumber > 0" ng-disabled="sc.timedParkSlotNumber <= 0" min="0" ng-max="sc.timedParkSlotNumber - sc.unusuableSlotNumber" >
								    	</div>
								    	<div class="col-md-1">
								    		<strong>/ {{ sc.timedParkSlotNumber }}</strong>
								    	</div>
								    	<div class="col-md-12 field-error" ng-show="form.sTimedslot.$error.pattern">{{ 'log_street_occupied_timed_error_pattern' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sTimedslot.$error.required">{{ 'log_street_occupied_timed_error_required' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sTimedslot.$error.min">{{ 'log_street_occupied_timed_error_min' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sTimedslot.$error.max">{{ 'log_street_occupied_timed_error_max' | i18n }}</div>
								   	</div>
								   	<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_paidSlot.visible">
								    	<label class="col-md-2 col-form-label" for="paidSlot">{{ 'street_paidpark_slot' | i18n }}</label>
								    	<div class="col-md-9">
								    		<input id="paidSlot" type="number" class="form-control" name="sPaidslot" ng-model="sc.paidSlotOccupied" ng-pattern="onlyNumbers" ng-required="sc.paidSlotNumber > 0" ng-disabled="sc.paidSlotNumber <= 0" min="0" ng-max="sc.paidSlotNumber - sc.unusuableSlotNumber" >
								    	</div>
								    	<div class="col-md-1">
								    		<strong>/ {{ sc.paidSlotNumber }}</strong>
								    	</div>
								    	<div class="col-md-12 field-error" ng-show="form.sPaidslot.$error.pattern">{{ 'log_street_occupied_paid_error_pattern' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sPaiddslot.$error.required">{{ 'log_street_occupied_paid_error_required' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sPaiddslot.$error.min">{{ 'log_street_occupied_paid_error_min' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sPaiddslot.$error.max">{{ 'log_street_occupied_paid_error_max' | i18n }}</div>
								   	</div>
								   	<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_freeSlot.visible">
								    	<label class="col-md-2 col-form-label" for="freeparkSlot">{{ 'street_freepark_slot' | i18n }}</label>
								    	<div class="col-md-9">
								    		<input id="freeparkSlot" type="number" class="form-control" name="sFreeparkslot" ng-model="sc.freeParkSlotOccupied" ng-pattern="onlyNumbers" ng-required="sc.freeParkSlotNumber > 0" ng-disabled="sc.freeParkSlotNumber <= 0" min="0" ng-max="sc.freeParkSlotNumber - sc.unusuableSlotNumber" >
								    	</div>
								    	<div class="col-md-1">
								    		<strong>/ {{ sc.freeParkSlotNumber }}</strong>
								    	</div>
								    	<div class="col-md-12 field-error" ng-show="form.sFreeparkslot.$error.pattern">{{ 'log_street_occupied_free_error_pattern' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sFreeparkslot.$error.required">{{ 'log_street_occupied_free_error_required' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sFreeparkslot.$error.min">{{ 'log_street_occupied_free_error_min' | i18n }}</div>
								    	<div class="col-md-12 field-error" ng-show="!isInit && form.sFreeparkslot.$error.max">{{ 'log_street_occupied_free_error_max' | i18n }}</div>
								   	</div>
									<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_freeSlotSign.visible">
									    <label class="col-md-2 col-form-label" for="freeparkSlotSigned">{{ 'street_freepark_slot_signed' | i18n }}</label>
									    <div class="col-md-9">
									    	<input id="freeparkSlotSigned" type="number" class="form-control" name="sFreeparkslotSigned" ng-model="sc.freeParkSlotSignOccupied" ng-pattern="onlyNumbers" ng-required="sc.freeParkSlotSignNumber > 0" ng-disabled="sc.freeParkSlotSignNumber <= 0" min="0" ng-max="sc.freeParkSlotSignNumber - sc.unusuableSlotNumber" >
									    </div>
									    <div class="col-md-1">
								    		<strong>/ {{ sc.freeParkSlotSignNumber }}</strong>
								    	</div>
									    <div class="col-md-12 field-error" ng-show="form.sFreeparkslotSigned.$error.pattern">{{ 'log_street_occupied_free_signed_error_pattern' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sFreeparkslotSigned.$error.required">{{ 'log_street_occupied_free_signed_error_required' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sFreeparkslotSigned.$error.min">{{ 'log_street_occupied_free_signed_error_min' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sFreeparkslotSigned.$error.max">{{ 'log_street_occupied_free_signed_error_max' | i18n }}</div>
									</div>
									<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_rechargeableSlot.visible">
									    <label class="col-md-2 col-form-label" for="rechargeableSlot">{{ 'street_rechargeable_slot' | i18n }}</label>
									    <div class="col-md-9">
									    	<input id="rechargeableSlot" type="number" class="form-control" name="sRechargeableslot" ng-model="sc.rechargeableSlotOccupied" ng-pattern="onlyNumbers" ng-required="sc.rechargeableSlotNumber > 0" ng-disabled="sc.rechargeableSlotNumber <= 0" min="0" ng-max="sc.rechargeableSlotNumber - sc.unusuableSlotNumber" >
									    </div>
									    <div class="col-md-1">
								    		<strong>/ {{ sc.rechargeableSlotNumber }}</strong>
								    	</div>
									    <div class="col-md-12 field-error" ng-show="form.sRechargeableslot.$error.pattern">{{ 'log_street_occupied_rechargeable_error_pattern' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sRechargeableslot.$error.required">{{ 'log_street_occupied_rechargeable_error_required' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sRechargeableslot.$error.min">{{ 'log_street_occupied_rechargeable_error_min' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sRechargeableslot.$error.max">{{ 'log_street_occupied_rechargeable_error_max' | i18n }}</div>
									</div>
									<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_loadingUnloadingSlot.visible">
									    <label class="col-md-2 col-form-label" for="loadingUnloadingSlot">{{ 'street_loading_unloading_slot' | i18n }}</label>
									    <div class="col-md-9">
									    	<input id="loadingUnloadingSlot" type="number" class="form-control" name="sLoadingunloadingslot" ng-model="sc.loadingUnloadingSlotOccupied" ng-pattern="onlyNumbers" ng-required="sc.loadingUnloadingSlotNumber > 0" ng-disabled="sc.loadingUnloadingSlotNumber <= 0" min="0" ng-max="sc.loadingUnloadingSlotNumber - sc.unusuabledSlotNumber" >
									    </div>
									    <div class="col-md-1">
								    		<strong>/ {{ sc.loadingUnloadingSlotNumber }}</strong>
								    	</div>
									    <div class="col-md-12 field-error" ng-show="form.sLoadingunloadingslot.$error.pattern">{{ 'log_street_occupied_loadingUnloading_error_pattern' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sLoadingunloadingslot.$error.required">{{ 'log_street_occupied_loadingUnloading_error_required' | i18n }}</div>
										<div class="col-md-12 field-error" ng-show="!isInit && form.sLoadingunloadingslot.$error.min">{{ 'log_street_occupied_loadingUnloading_error_min' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sLoadingunloadingslot.$error.max">{{ 'log_street_occupied_loadingUnloading_error_max' | i18n }}</div>
									</div>
									<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_pinkSlot.visible">
									    <label class="col-md-2 col-form-label" for="pinkSlot">{{ 'street_pink_slot' | i18n }}</label>
									    <div class="col-md-9">
									    	<input id="pinkSlot" type="number" class="form-control" name="sPinkslot" ng-model="sc.pinkSlotOccupied" ng-pattern="onlyNumbers" ng-required="sc.pinkSlotNumber > 0" ng-disabled="sc.pinkSlotNumber <= 0" min="0" ng-max="sc.pinkSlotNumber - sc.unusuabledSlotNumber" >
									    </div>
									    <div class="col-md-1">
								    		<strong>/ {{ sc.pinkSlotNumber }}</strong>
								    	</div>
									    <div class="col-md-12 field-error" ng-show="form.sPinkslot.$error.pattern">{{ 'log_street_occupied_pink_error_pattern' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sPinkslot.$error.required">{{ 'log_street_occupied_pink_error_required' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sPinkslot.$error.min">{{ 'log_street_occupied_pink_error_min' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sPinkslot.$error.max">{{ 'log_street_occupied_pink_error_max' | i18n }}</div>
									</div>
									<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_carSharingSlot.visible">
									    <label class="col-md-2 col-form-label" for="carSharingSlot">{{ 'street_car_sharing_slot' | i18n }}</label>
									    <div class="col-md-9">
									    	<input id="carSharingSlot" type="number" class="form-control" name="sCarsharingslot" ng-model="sc.carSharingSlotNumber" ng-pattern="onlyNumbers" ng-required="sc.carSharingSlotNumber > 0" ng-disabled="sc.carSharingSlotNumber <= 0" min="0" ng-max="sc.carSharingSlotNumber - sc.unusuabledSlotNumber" >
									    </div>
									    <div class="col-md-1">
								    		<strong>/ {{ sc.carSharingSlotNumber }}</strong>
								    	</div>
									    <div class="col-md-12 field-error" ng-show="form.sCarsharingslot.$error.pattern">{{ 'log_street_occupied_car_sharing_error_pattern' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sCarsharingslot.$error.required">{{ 'log_street_occupied_car_sharing_error_required' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sCarsharingslot.$error.min">{{ 'log_street_occupied_car_sharing_error_min' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sCarsharingslot.$error.max">{{ 'log_street_occupied_car_sharing_error_max' | i18n }}</div>
									</div>
									<div class="form-group row" ng-show="manageVehicleTypesPs(sc.vehicleType).s_unusuableSlot.visible">
									    <label class="col-md-2 col-form-label" for="unusuabledSlot">{{ 'street_unusuable_slot' | i18n }}</label>
									    <div class="col-md-9">
									    	<input id="unusuabledSlot" type="number" class="form-control" name="sUnusuabledSlot" ng-model="sc.unusuableSlotNumber" ng-pattern="onlyNumbers" min="0" ng-max="getRemainingSlots(sc)" >
									    </div>
									    <div class="col-md-1">
								    	</div>
									    <div class="col-md-12 field-error" ng-show="form.sUnusuabledSlot.$error.pattern">{{ 'log_street_unavailable_error_pattern' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sUnusuabledSlot.$error.min">{{ 'log_street_unavailable_error_min' | i18n }}</div>
									    <div class="col-md-12 field-error" ng-show="!isInit && form.sUnusuabledSlot.$error.max">{{ 'log_street_unavailable_error_max' | i18n }}</div>
									</div>
									<!-- <div class="form-group" ng-show="manageVehicleTypes(sc.vehicleType).s_activeType.visible">
									    <label for="activeType">{{ 'street_active_vehicle_type' | i18n }}
									    	<input id="activeType" type="checkbox" name="nsActivetype" ng-model="sc.vehicleTypeActive" >
									    </label>
									</div> -->
							   	</div>
	  						</div>
	  					</div>
					<!-- <div ng-show="parkLoadedAndSelected">
					   	<label class="group-label"  for="totalSlot">{{ 'parking_slots' | i18n }}</label>
					   	<div class="panel panel-default" width="90%">
					   		<div class="panel-body">
					   			<table width="100%">
					   				<tr>
					   					<td width="25%"><strong>{{ 'ps_paying_slot' | i18n }}</strong></td>
					   					<td width="5%">{{ myParkingDetails.slotsPaying }}</td>
					   					<td width="20%"><strong>{{ 'parking_occupied_slot' | i18n }}</strong></td>
					   					<td width="50%"><input id="occupiedSlot" type="number" class="form-control" name="pOccupiedslot" ng-model="myParkingDetails.slotsOccupiedOnPaying" ng-pattern="onlyNumbers" placeholder="{{ 'parking_slotoccupied_placeholder' | i18n }}" min="0" required ng-change="checkCorrectParkSlots(myParkingDetails)"></td>
					   				</tr>
					   				<tr ng-show="!isInit && form.pOccupiedslot.$error.pattern">
					   					<td colspan="3" width="50%"></td>
					   					<td align="center">
					   						<div class="alert alert-danger">{{ 'log_parking_occupied_error_pattern' | i18n }}</div>
					   					</td>
					   				</tr>
					   				<tr ng-show="!isInit && form.pOccupiedslot.$error.required">
					   					<td colspan="3" width="50%"></td>
					   					<td align="center">
					   						<div class="alert alert-danger">{{ 'log_parking_occupied_error_required' | i18n }}</div>
					   					</td>
					   				</tr>
					   				<tr ng-show="!isInit && form.pOccupiedslot.$error.min">
					   					<td colspan="3" width="50%"></td>
					   					<td align="center">
					   						<div class="alert alert-danger">{{ 'log_parking_occupied_error_min' | i18n }}</div>
					   					</td>
					   				</tr>
					   				<tr ng-show="showMaxError">
					   					<td colspan="3" width="50%"></td>
					   					<td align="center">
					   						<div class="alert alert-danger">{{ 'log_parking_occupied_error_max' | i18n }}</div>
					   					</td>
					   				</tr>
					   				<tr>
				   						<td><strong>{{ 'ps_handicapped_slot' | i18n }}</strong></td>
				   						<td>{{ myParkingDetails.slotsHandicapped }}</td>
				   						<td><strong>{{ 'log_slot_occupied_on_handicapped' | i18n }}</strong></td>
				   						<td><input id="occupiedSlotOnHandicapped" type="number" class="form-control" name="pOccupiedslotOnHandicapped" ng-pattern="onlyNumbers" ng-model="myParkingDetails.slotsOccupiedOnHandicapped" placeholder="{{ 'street_handicappedslotoccupied_placeholder' | i18n }}" ng-disabled="myParkingDetails.slotsHandicapped <= 0" ng-required="myParkingDetails.slotsHandicapped > 0" min="0" ng-change="checkCorrectParkSlots(myParkingDetails)"></td>
				   					</tr>
				   					<tr ng-show="!isInit && form.pOccupiedslotOnHandicapped.$error.pattern">
				   						<td colspan="3"></td>
				   						<td align="center">
				   							<div class="alert alert-danger">{{ 'log_street_occupied_handicapped_error_pattern' | i18n }}</div>
				   						</td>
				   					</tr>
				   					<tr ng-show="!isInit && form.pOccupiedslotOnHandicapped.$error.required">
				   						<td colspan="3"></td>
				   						<td align="center">
				   							<div class="alert alert-danger">{{ 'log_street_occupied_handicapped_error_required' | i18n }}</div>
				   						</td>
				   					</tr>
				   					<tr ng-show="!isInit && form.pOccupiedslotOnHandicapped.$error.min">
				   						<td colspan="3"></td>
				   						<td align="center">
				   							<div class="alert alert-danger">{{ 'log_street_occupied_handicapped_error_min' | i18n }}</div>
				   						</td>
				   					</tr>
				   					<tr ng-show="showMaxErrorHandicapped">
				   						<td colspan="3"></td>
				   						<td align="center">
				   							<div class="alert alert-danger">{{ 'log_street_occupied_handicapped_error_max' | i18n }}</div>
				   						</td>
				   					</tr>
					   				<tr>
				   						<td><strong>{{ 'parking_unavailable_slot' | i18n }}</strong></td>
				   						<td></td>{{ myParkingDetails.slotsUnavailable }}
				   						<td></td>
				   						<td><input id="unavailableSlots" type="number" class="form-control" name="pUnavalableSlots" ng-pattern="onlyNumbers" ng-model="myParkingDetails.slotsUnavailable" placeholder="{{ 'park_unavailableslot_placeholder' | i18n }}" min="0" ng-change="checkCorrectParkSlots(myParkingDetails)"></td>
				   					</tr>
				   					<tr ng-show="!isInit && form.pUnavalableSlots.$error.pattern">
				   						<td colspan="3"></td>
				   						<td align="center">
				   							<div class="alert alert-danger">{{ 'log_park_unavailable_error_pattern' | i18n }}</div>
				   						</td>
				   					</tr>
				   					<tr ng-show="!isInit && form.pOccupiedslotOnFree.$error.min">
				   						<td colspan="3"></td>
				   						<td align="center">
				   							<div class="alert alert-danger">{{ 'log_park_unavailable_error_min' | i18n }}</div>
				   						</td>
				   					</tr>
				   					<tr ng-show="showMaxErrorUnusuable">
				   						<td colspan="3"></td>
				   						<td align="center">
				   							<div class="alert alert-danger">{{ 'log_park_unavailable_error_max' | i18n }}</div>
				   						</td>
				   					</tr>
					   			</table>
					   	</div>
				</div> -->
				<div class="alert alert-danger" ng-show="showUpdatingPErrorMessage">{{ 'err_in_log_parking_inserting' | i18n }}</div>
				<div class="alert alert-success" ng-show="showUpdatingPSuccessMessage">{{ 'succ_in_log_parking_inserting' | i18n }}</div>
		   		<table width="97%">			
				   	<tr>
				   		<td width="85%"></td>
				   		<td width="8%" align="center">
<!-- 				   			<button type="button" class="btn btn-danger btn-lg" ng-click="closeSView()">{{ 'text_btn_close' | i18n  }}</button> -->
				   			<a href ng-click="hideLogManualCreation()" type="button" class="btn btn-default btn-lg" >{{ 'text_btn_close' | i18n }}</a>
				   		</td>
				   		<td width="7%" align="right">
				   			<button type="button" class="btn btn-primary btn-lg" ng-click="insertParkingLog(form, myParkingDetails)">{{ 'text_btn_save' | i18n  }}</button>
				   		</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
				</table>
		   	</div>
	   	</form>	
	</div>
</div>