<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="5; url=/metroparco/logout">
<title>Error</title>

<link href="/metroparco/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/metroparco/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
<link href="/metroparco/imgs/carpark.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/metroparco/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>

	<div class="container">
		<div class="row" style="margin-top: 20px;">
			<div id="my-big-login" ng-class="col-md-8">
				<div style="margin: 10px 10px 10px 10px">
					<div class="row" style="font-size: 18px; color: red" align="center" id="cookies">
					</div>
					<div style="margin: 10px" align="center">
					</div>
					<div class="well" align="center">
					    <img src="/metroparco/imgs/logo.png" style="margin: 20px" />
					    <h3>La tua sessione e' scaduta. Verrai riportato alla pagina di login.</h3>
					</div>
				</div>
			</div>
			<div id="my-small-login" ng-class="col-sm-10">
				<div style="margin: 10px 10px 10px 10px">
					<div class="row" style="font-size: 18px; color: red" align="center" id="cookies">
					</div>							
					<div style="margin: 10px" align="center">
					</div>
					<div class="well" align="center">
					    <img src="/metroparco/imgs/logo.png" style="margin: 20px" />
						<h3>La tua sessione e' scaduta. Verrai riportato alla pagina di login.</h3>	
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>