#company name,entity name, icon filename (relative path), filter color (format HEX without #)
#for every missing mapping there will be use the default icon for the particular entity if exists
(/imgs/markerIcons/template_<entity>.png) or default template (/imgs/markerIcons/defaultTemplate.png)

#amr,parcometro,parcometro_amr.png,719ac4 f6f6f6 b3b2b2
amr,parcometro,parcometro_amr.png,dadbda
amr,parcometroneg,parcometroneg_amr.png,dadbda
amr,parcometrocarta,parcometrocarta_amr.png,dadbda
amr,parcometrocartaneg,parcometrocartaneg_amr.png,dadbda
tm,parcometro,parcometro_tm.png,dadbda
tm,parcometroneg,parcometroneg_tm.png,dadbda
tm,parcometrocarta,parcometrocarta_tm.png,dadbda
tm,parcometrocartaneg,parcometrocartaneg_tm.png,dadbda
amr,parcheggiostruttura,parcheggio-struttura_amr.png,6b95c1
amr,puntobici,puntobici_amr.png,faba04
