<div class="col-md-12">
	<form role="form" name="form" ng-init="initParkProfitLogCreation()">
		<div class="panel panel-default" width="90%">
		    	<h3 class="panel-title"><strong>{{ 'new_log_parking' | i18n }}</strong></h3>
		  	<div class="panel-body">
		  		<div class="form-group">
			    	<label for="parkN">{{ 'parking_name_log' | i18n }}</label>
			    	<select id="parkN" name="parkN" class="form-control" ng-options="p as p.name for p in allParkingProfit" ng-model="myParking" required ng-change="getParkProfitDetailData(myParking)">
			    		<option value="">{{ 'parking_log_placeholder' | i18n }}</option>
			    	</select>
			   		<div class="field-error" ng-show="!isInit && form.parkN.$error.required">{{ 'parking_name_select_err_required' | i18n }}</div>
				</div>
				<table width="100%" ng-show="parkProfitLoadedAndSelected">
					<tr>
						<td><strong>{{ 'park_id' | i18n }}</strong></td>
						<td>{{ myParkingProfitDetails.id }}</td>
					</tr>
					<tr>
						<td><strong>{{ 'park_name' | i18n }}</strong></td>
						<td>{{ myParkingProfitDetails.name }}</td>
					</tr>
					<tr>
						<td colspan="2"><hr/></td>
					</tr>
				</table>
				<div class="form-group" ng-show="parkProfitLoadedAndSelected">
					<label for="totalSlot">{{ 'parking_user_log' | i18n }}</label>
			    	<input id="totalSlot" type="text" class="form-control" name="sUserLog" ng-model="myParkingProfitDetails.user" ng-pattern="onlyNumbers" placeholder="{{ 'street_usercode_placeholder' | i18n }}" required >
				   	<div class="field-error" ng-show="!isInit && form.sUserLog.$error.required">{{ 'parking_userlog_err_required' | i18n }}</div>
				   	<div class="field-error" ng-show="!isInit && form.sUserLog.$error.pattern">{{ 'parking_userlog_pattern' | i18n }}</div>
				</div>
				<div class="form-group" ng-show="parkProfitLoadedAndSelected">
					<label class="group-label" for="logtime">{{ 'parking_time_log' | i18n }}:</label>
			   		<div class="panel panel-default" width="90%">
				   		<div class="panel-body">
							<table width="100%">
								<tr>
									<td width="6%"><strong>{{ 'parking_day_log' | i18n }}: </strong></td>
									<td width="39%">
										<input id="logtime" name="pLogTime" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myParkingProfitDetails.loghour" is-open="pLogtime.open" ng-click="pLogtime.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" required />
									</td>
									<td width="5%" align="center"><strong>{{ 'log_period_time' | i18n }}: </strong></td>
									<td width="50%">
										<timepicker id="time" name="pLogOra" ng-model="myParkingProfitDetails.logtime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></timepicker>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<div class="field-error" ng-show="!isInit && form.pLogTime.$error.required">{{ 'parking_timelog_err_required' | i18n }}</div>
										<div class="field-error" ng-show="!isInit && form.pLogOra.$error.required">{{ 'log_time_error_required' | i18n }}</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
<!-- 			    	<input id="logtime" name="pLogTime" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myParkingDetails.loghour" is-open="sLogtime.open" ng-click="sLogtime.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" required /> -->
<!-- 			    	<div class="field-error" ng-show="!isInit && form.pLogTime.$error.required">{{ 'parking_timelog_err_required' | i18n }}</div> -->
			    </div>
<!-- 			    <div class="form-group" ng-show="parkLoadedAndSelected">	 -->
<!-- 			   		<input type="text" class="form-control" name="pLogOra" id="time" ng-model="myParkingDetails.logtime" placeholder="HH:mm:ss" ng-pattern="timePattern" required> -->
<!-- 			   		<div class="field-error" ng-show="!isInit && form.pLogOra.$error.required">{{ 'log_time_error_required' | i18n }}</div> -->
<!-- 			   		<div class="field-error" ng-show="!isInit && form.pLogOra.$error.pattern">{{ 'log_time_error_pattern' | i18n }}</div> -->
<!-- 			   	</div> -->
				<div ng-show="parkProfitLoadedAndSelected">
					<label class="group-label" >{{ 'log_period' | i18n }}</label>
			   		<div class="panel panel-default" width="90%">
				   		<div class="panel-body">
				   			<table width="100%">
					    		<tr>
					    			<td width="6%"><strong>{{ 'log_period_from_date' | i18n }}: </strong></td>
					    			<td width="39%">
					    				<input id="logperiodf" name="psLogPeriodF" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myParkingProfitDetails.logPeriodFrom" is-open="plogperiodf.open" ng-click="plogperiodf.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" />
					    			</td>
					    			<td width="5%" align="center"><strong>{{ 'log_period_time' | i18n }}: </strong></td>
					    			<td width="50%">
					    				<timepicker ng-model="myParkingProfitDetails.startTimePeriod" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td width="6%"><strong>{{ 'log_period_to_date' | i18n }}: </strong></td>
					    			<td width="39%">
					    				<input id="logperiodt" name="psLogPeriodT" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myParkingProfitDetails.logPeriodTo" is-open="plogperiodt.open" ng-click="plogperiodt.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" />
					    			</td>
					    			<td width="5%" align="center"><strong>{{ 'log_period_time' | i18n }}: </strong></td>
					    			<td width="50%">
					    				<timepicker ng-model="myParkingProfitDetails.endTimePeriod" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					    			</td>
					    		</tr>
					    		<tr ng-show="(showErrorFromMajorTo)">
					    			<td colspan="4">
					    				<div class="field-error">{{ 'from_to_period_err' | i18n }}</div>
					    			</td>
					    		</tr>
					    		<tr ng-show="(showErrorEmptyVal)">
				   					<td colspan="4">
				   						<div class="field-error">{{ 'start_or_end_emplty_period_err' | i18n }}</div>
				   					</td>
				   				</tr>
					    	</table>
				   		</div>
				   	</div>
				</div>
				<div ng-show="parkProfitLoadedAndSelected">
				   	<label class="group-label" for="totalSlot">{{ 'parking_profit' | i18n }}</label>
				   	<div class="panel panel-default" width="90%">
				   		<div class="panel-body">
				   			<table width="100%">
				   				<tr>
				   					<td width="35%"><strong>{{ 'parking_totalslot' | i18n }}</strong></td>
				   					<td>{{ myParkingProfitDetails.slotsTotal }}</td>
				   				</tr>
				   				<tr>
				   					<td width="35%"><strong>{{ 'parking_profit_val' | i18n }}</strong></td>
				   					<td><input id="profitVal" type="number" class="form-control" name="psProfit" ng-model="myParkingProfitDetails.profit" ng-pattern="onlyNumbers" placeholder="{{ 'parking_profit_placeholder' | i18n }}" min="0" required></td>
				   				</tr>
				   				<tr ng-show="!isInit && form.psProfit.$error.pattern">
				   					<td colspan="2">
				   						<div class="field-error">{{ 'log_parking_profit_error_pattern' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="!isInit && form.psProfit.$error.required">
				   					<td colspan="2">
				   						<div class="field-error">{{ 'log_parking_profit_error_required' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr>
				   					<td width="35%"><strong>{{ 'parking_tickets_val' | i18n }}</strong></td>
				   					<td><input id="ticketNum" type="number" class="form-control" name="psTickets" ng-model="myParkingProfitDetails.tickets" ng-pattern="onlyNumbers" placeholder="{{ 'parking_tickets_placeholder' | i18n }}" min="0" required></td>
				   				</tr>
				   				<tr ng-show="!isInit && form.psTickets.$error.pattern">
				   					<td colspan="2">
				   						<div class="field-error">{{ 'log_parking_tickets_error_pattern' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="!isInit && form.psTickets.$error.required">
				   					<td colspan="2">
				   						<div class="field-error">{{ 'log_parking_tickets_error_required' | i18n }}</div>
				   					</td>
				   				</tr>
				   			</table>
				   		</div>
					</div>
					<div class="field-error" ng-show="showUpdatingPErrorMessage">{{ 'err_in_log_parking_inserting' | i18n }}</div>
					<div class="alert alert-success" ng-show="showUpdatingPSuccessMessage">{{ 'succ_in_log_parking_inserting' | i18n }}</div>
		   			<table width="97%">			
				   		<tr>
				   			<td width="85%"></td>
				   			<td width="8%" align="center">
<!-- 				   			<button type="button" class="btn btn-danger btn-lg" ng-click="closeSView()">{{ 'text_btn_close' | i18n  }}</button> -->
				   				<a href="#/aux/home" type="button" class="btn btn-default btn-lg" >{{ 'text_btn_close' | i18n }}</a>
				   			</td>
				   			<td width="7%" align="right">
<!-- 				   		<button type="button" class="btn btn-default btn-lg" ng-click="updateStreet(form, myArea, myZones, editStreet)" ng-show="isEditing">{{ 'text_btn_save' | i18n  }}</button> -->
<!-- 				   		<button type="button" class="btn btn-default btn-lg" ng-click="createStreet(form, myNewArea, myZones, newStreet)" ng-show="!isEditing">{{ 'text_btn_save' | i18n  }}</button> -->
				   				<button type="button" class="btn btn-primary btn-lg" ng-click="insertParkingProfitLog(form, myParkingProfitDetails)">{{ 'text_btn_save' | i18n  }}</button>
				   			</td>
						</tr>
						<tr>
							<td colspan="3">&nbsp;</td>
						</tr>
					</table>
		   		</div>
	   		</form>
</div>