<div class="col-md-12"><!-- style="height: 250px" -->
	<form role="form" name="form" ng-init="initStreetLogCreation()">
		<div class="panel panel-default" width="90%">
		   	<div class="panel-heading">
		    	<h3 class="panel-title"><strong>{{ 'new_log_street' | i18n }}</strong></h3>
		  	</div>
		  	<div class="panel-body">
		  		<div class="form-group">
			    	<label for="streetN">{{ 'street_name_log' | i18n }}</label>
			    	<select id="streetN" name="streetN" class="form-control" ng-options="s as s.streetReference for s in allStreet" ng-model="myStreet" required ng-change="getDetailData(myStreet)">
			    		<option value="">{{ 'street_log_placeholder' | i18n }}</option>
			    	</select>
			   		<div class="alert alert-danger" ng-show="!isInit && form.streetN.$error.required">{{ 'street_name_select_err_required' | i18n }}</div>
				</div>
				<table width="100%" ng-show="streetLoadedAndSelected">
					<tr>
						<td><strong>Id via</strong></td>
						<td>{{ myStreetDetails.id }}</td>
					</tr>
					<tr>
						<td><strong>{{ 'street_name' | i18n }}</strong></td>
						<td>{{ myStreetDetails.streetReference }}</td>
					</tr>
					<tr>
						<td><strong>{{ 'street_area_name' | i18n }}</strong></td>
						<td>{{ myStreetDetails.area_name }}</td>
					</tr>
				</table>
				   	<label for="totalSlot">{{ 'street_slots' | i18n }}</label>
				   	<div class="panel panel-default" width="90%" ng-show="streetLoadedAndSelected">
				   		<div class="panel-body">
						   	<div class="form-group">
						    	<label for="totalSlot">{{ 'street_totalslot' | i18n }}</label>
						    	<input id="totalSlot" type="text" class="form-control" name="sTotalslot" ng-model="myStreetDetails.slotNumber" ng-pattern="onlyNumbers" ng-required="s_slotNum.required" placeholder="{{ 'street_totalslot_placeholder' | i18n }}" >
						    	<div class="alert alert-danger" ng-show="!isInit && form.sTotalslot.$error.required">{{ 'street_slots_err_required' | i18n }}</div>
						    	<div class="alert alert-danger" ng-show="!isInit && form.sTotalslot.$error.pattern">{{ 'street_slots_err_pattern' | i18n }}</div>
						   	</div>
							<div class="form-group">
						    	<label for="handicappedSlot">{{ 'street_handicapped_slot' | i18n }}</label>
						    	<input id="handicappedSlot" type="text" class="form-control" name="sHandicappedslot" ng-model="myStreetDetails.handicappedSlotNumber" ng-pattern="onlyNumbers" ng-required="s_handicappedSlot.required" placeholder="{{ 'street_handicappedslot_placeholder' | i18n }}" >
						    	<div class="alert alert-danger" ng-show="!isInit && form.sHandicappedslot.$error.pattern">{{ 'street_slots_err_pattern' | i18n }}</div>
						    	<div class="alert alert-danger" ng-show="!isInit && form.sHandicappedslot.$error.required">{{ 'street_handicapped_slots_err_required' | i18n }}</div>
						   	</div>
						   	<div class="form-group">
						    	<label for="reservedSlot">{{ 'street_reserved_slot' | i18n }}</label>
						    	<input id="reservedSlot" type="text" class="form-control" name="sReservedslot" ng-model="myStreetDetails.reservedSlotNumber" ng-pattern="onlyNumbers" ng-required="s_reservedSlot.required" placeholder="{{ 'street_reservedslot_placeholder' | i18n }}" >
						    	<div class="alert alert-danger" ng-show="!isInit && form.sReservedslot.$error.pattern">{{ 'street_slots_err_pattern' | i18n }}</div>
						    	<div class="alert alert-danger" ng-show="!isInit && form.sReservedslot.$error.required">{{ 'street_reserved_slots_err_required' | i18n }}</div>
						   	</div>
						   	<div class="form-group">
						    	<label for="timedSlot">{{ 'street_timedpark_slot' | i18n }}</label>
						    	<input id="timedSlot" type="text" class="form-control" name="sTimedslot" ng-model="myStreetDetails.timedParkSlotNumber" ng-pattern="onlyNumbers" ng-required="s_timedSlot.required" placeholder="{{ 'street_timedslot_placeholder' | i18n }}" >
						    	<div class="alert alert-danger" ng-show="!isInit && form.sTimedslot.$error.pattern">{{ 'street_slots_err_pattern' | i18n }}</div>
						    	<div class="alert alert-danger" ng-show="!isInit && form.sTimedslot.$error.required">{{ 'street_timedpark_slots_err_required' | i18n }}</div>
						   	</div>
						   	<div class="form-group">
						    	<label for="freeparkSlot">{{ 'street_freepark_slot' | i18n }}</label>
						    	<input id="freeparkSlot" type="text" class="form-control" name="sFreeparkslot" ng-model="myStreetDetails.freeParkSlotNumber" ng-pattern="onlyNumbers" ng-required="s_freeSlot.required" placeholder="{{ 'street_freeparkslot_placeholder' | i18n }}" >
						    	<div class="alert alert-danger" ng-show="!isInit && form.sFreeparkslot.$error.pattern">{{ 'street_slots_err_pattern' | i18n }}</div>
						    	<div class="alert alert-danger" ng-show="!isInit && form.sFreeparkslot.$error.required">{{ 'street_freepark_slots_err_required' | i18n }}</div>
						   	</div>
						   	<div class="form-group">
						    	<label for="freeparkSlotSigned">{{ 'street_freepark_slot_signed' | i18n }}</label>
						    	<input id="freeparkSlotSigned" type="text" class="form-control" name="sFreeparkslotSigned" ng-model="myStreetDetails.freeParkSlotSignNumber" ng-pattern="onlyNumbers" ng-required="s_freeSlotSign.required" placeholder="{{ 'street_freeparkslotsign_placeholder' | i18n }}" >
						    	<div class="alert alert-danger" ng-show="!isInit && form.sFreeparkslotSigned.$error.pattern">{{ 'street_slots_err_pattern' | i18n }}</div>
						    	<div class="alert alert-danger" ng-show="!isInit && form.sFreeparkslotSigned.$error.required">{{ 'street_freepark_slots_sign_err_required' | i18n }}</div>
						   	</div>
						   	<div class="form-group">
						    	<label for="unusuableSlot">{{ 'street_unusuable_slot' | i18n }}</label>
						    	<input id="unusuableSlot" type="text" class="form-control" name="sUnusuableslot" ng-model="myStreetDetails.unusuableSlotNumber" ng-pattern="onlyNumbers" ng-required="s_unusuableSlot.required" placeholder="{{ 'street_unusuableslot_placeholder' | i18n }}" >
						    	<div class="alert alert-danger" ng-show="!isInit && form.sUnusuableslot.$error.pattern">{{ 'street_slots_err_pattern' | i18n }}</div>
						    	<div class="alert alert-danger" ng-show="!isInit && form.sUnusuableslot.$error.required">{{ 'street_unusuable_slots_err_required' | i18n }}</div>
						   	</div>
				   		</div>
				   	</div>
				</div>
				<div class="alert alert-danger" ng-show="showUpdatingSErrorMessage">{{ 'err_in_update_street' | i18n }}</div>
		   		<table width="97%">			
				   	<tr>
				   		<td width="85%"></td>
				   		<td width="8%" align="center">
				   			<button type="button" class="btn btn-danger btn-lg" ng-click="closeSView()">{{ 'text_btn_close' | i18n  }}</button>
				   		</td>
				   		<td width="7%" align="right">
<!-- 				   			<button type="button" class="btn btn-default btn-lg" ng-click="updateStreet(form, myArea, myZones, editStreet)" ng-show="isEditing">{{ 'text_btn_save' | i18n  }}</button> -->
<!-- 				   			<button type="button" class="btn btn-default btn-lg" ng-click="createStreet(form, myNewArea, myZones, newStreet)" ng-show="!isEditing">{{ 'text_btn_save' | i18n  }}</button> -->
				   			<button type="button" class="btn btn-success btn-lg" ng-click="updateStreet(form, eStreet, myArea, myZones, myPms)" ng-show="isEditing">{{ 'text_btn_save' | i18n  }}</button>
				   			<button type="button" class="btn btn-success btn-lg" ng-click="createStreet(form, eStreet, myNewArea, myZones, myPms)" ng-show="!isEditing">{{ 'text_btn_save' | i18n  }}</button>
				   		</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
				</table>
		   	</div>
	   	</form>
</div>