<div class="col-md-12"><!-- style="height: 250px" -->
	<form role="form" name="form" ng-init="initStreetLogCreation()">
		<div class="panel panel-default" width="90%">
		   	<div class="panel-heading">
		    	<h3 class="panel-title"><strong>{{ 'new_log_street' | i18n }}</strong></h3>
		  	</div>
		  	<div class="panel-body">
		  		<div class="form-group">
			    	<label for="streetN">{{ 'street_name_log' | i18n }}</label>
			    	<select id="streetN" name="streetN" class="form-control" ng-options="s as s.name for s in allStreet" ng-model="myStreet" required ng-change="getDetailData(myStreet)">
			    		<option value="">{{ 'street_log_placeholder' | i18n }}</option>
			    	</select>
			   		<div class="alert alert-danger" ng-show="!isInit && form.streetN.$error.required">{{ 'street_name_select_err_required' | i18n }}</div>
				</div>
				<table width="100%" ng-show="streetLoadedAndSelected">
					<tr>
						<td><strong>Id via</strong></td>
						<td>{{ myStreetDetails.id }}</td>
					</tr>
					<tr>
						<td><strong>{{ 'street_name' | i18n }}</strong></td>
						<td>{{ myStreetDetails.name }}</td>
					</tr>
<!-- 					<tr> -->
<!-- 						<td><strong>{{ 'street_area_name' | i18n }}</strong></td> -->
<!-- 						<td>{{ myStreetDetails.area_name }}</td> -->
<!-- 					</tr> -->
					<tr>
						<td colspan="2"><hr/></td>
					</tr>
				</table>
				<div class="form-group" ng-show="streetLoadedAndSelected">
					<label for="totalSlot">{{ 'street_user_log' | i18n }}</label>
			    	<input id="totalSlot" type="text" class="form-control" name="sUserLog" ng-model="myStreetDetails.user" ng-pattern="onlyNumbers" placeholder="{{ 'street_usercode_placeholder' | i18n }}" required >
				   	<div class="alert alert-danger" ng-show="!isInit && form.sUserLog.$error.required">{{ 'street_userlog_err_required' | i18n }}</div>
				   	<div class="alert alert-danger" ng-show="!isInit && form.sUserLog.$error.pattern">{{ 'street_userlog_pattern' | i18n }}</div>
				</div>
				<div class="form-group" ng-show="streetLoadedAndSelected">
					<label>{{ 'street_time_log' | i18n }}</label>
			   		<div class="panel panel-default" width="90%">
				   		<div class="panel-body">
							<table width="100%">
								<tr>
									<td width="6%"><strong>{{ 'street_day_log' | i18n }}: </strong></td>
									<td width="39%">
										<input id="logtime" name="pLogTime" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myStreetDetails.loghour" is-open="sLogtime.open" ng-click="sLogtime.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" required />
									</td>
									<td width="5%" align="center"><strong>{{ 'log_period_time' | i18n }}: </strong></td>
									<td width="50%">
										<timepicker id="time" name="pLogOra" ng-model="myStreetDetails.logtime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></timepicker>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<div class="alert alert-danger" ng-show="!isInit && form.pLogTime.$error.required">{{ 'street_timelog_err_required' | i18n }}</div>
										<div class="alert alert-danger" ng-show="!isInit && form.pLogOra.$error.required">{{ 'log_time_error_required' | i18n }}</div>
									</td>
								</tr>
							</table>
						</div>
					</div>    		
<!-- 			    	<label for="logtime">{{ 'street_time_log' | i18n }}:</label>&nbsp; -->
<!-- 			    	<input id="logtime" name="pLogTime" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myStreetDetails.loghour" is-open="sLogtime.open" ng-click="sLogtime.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" required /> -->
<!-- 			    	<div class="alert alert-danger" ng-show="!isInit && form.pLogTime.$error.required">{{ 'street_timelog_err_required' | i18n }}</div> -->
			    </div>
<!-- 			    <div class="form-group" ng-show="streetLoadedAndSelected">	 -->
<!-- 			   		<input type="text" class="form-control" name="pLogOra" id="time" ng-model="myStreetDetails.logtime" placeholder="HH:mm:ss" ng-pattern="timePattern" required> -->
<!-- 			   		<div class="alert alert-danger" ng-show="!isInit && form.pLogOra.$error.required">{{ 'log_time_error_required' | i18n }}</div> -->
<!-- 			   		<div class="alert alert-danger" ng-show="!isInit && form.pLogOra.$error.pattern">{{ 'log_time_error_pattern' | i18n }}</div> -->
<!-- 			   	</div> -->
			   	<div ng-show="streetLoadedAndSelected">
			   		<label>{{ 'log_period' | i18n }}</label>
			   		<div class="panel panel-default" width="90%">
				   		<div class="panel-body">
				   			<table width="100%">
					    		<tr>
					    			<td width="6%"><strong>{{ 'log_period_from_date' | i18n }}: </strong></td>
					    			<td width="39%">
					    				<input id="logperiodf" name="sLogPeriodF" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myStreetDetails.logPeriodFrom" is-open="slogperiodf.open" ng-click="slogperiodf.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" />
					    			</td>
					    			<td width="5%" align="center"><strong>{{ 'log_period_time' | i18n }}: </strong></td>
					    			<td width="50%">
					    				<timepicker ng-model="myStreetDetails.startTimePeriod" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td width="6%"><strong>{{ 'log_period_to_date' | i18n }}: </strong></td>
					    			<td width="39%">
					    				<input id="logperiodt" name="pLogPeriodT" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="myStreetDetails.logPeriodTo" is-open="slogperiodt.open" ng-click="slogperiodt.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" />
					    			</td>
					    			<td width="5%" align="center"><strong>{{ 'log_period_time' | i18n }}: </strong></td>
					    			<td width="50%">
					    				<timepicker ng-model="myStreetDetails.endTimePeriod" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					    			</td>
					    		</tr>
					    		<tr ng-show="(!isInit && isPeriodError())">
					    			<td colspan="4">
					    				<div class="alert alert-danger">{{ 'street_period_err' | i18n }}</div>
					    			</td>
					    		</tr>
					    	</table>
				   		</div>
				   	</div>	
			   	</div>
			   	
				<div ng-show="streetLoadedAndSelected">
				   	<label for="totalSlot">{{ 'street_slots' | i18n }}</label>
				   	<div class="panel panel-default" width="90%">
				   		<div class="panel-body">
				   			<table width="100%">
<!-- 				   				<tr> -->
<!-- 				   					<td width="25%"><strong>{{ 'street_totalslot' | i18n }}</strong></td> -->
<!-- 				   					<td width="5%">{{ myStreetDetails.slotsFree }}</td> -->
<!-- 				   					<td width="25%"></td> -->
<!-- 				   					<td width="45%"></td> -->
<!-- 				   				</tr> -->
				   				<tr>
				   					<td width="25%"><strong>{{ 'street_timedpark_slot' | i18n }}</strong></td>
				   					<td width="5%">{{ myStreetDetails.slotsTimed }}</td>
				   					<td width="20%"><strong>{{ 'log_slot_occupied_on_timed' | i18n }}</strong></td>
				   					<td width="50%"><input id="occupiedSlotOnTimed" type="number" class="form-control" name="sOccupiedslotOnTimed" ng-pattern="onlyNumbers" ng-model="myStreetDetails.slotsOccupiedOnTimed" placeholder="{{ 'street_timedslotoccupied_placeholder' | i18n }}" ng-required="myStreetDetails.slotsTimed > 0" min="0" ng-change="checkCorrectSlots(myStreetDetails)"></td><!-- max="{{myStreetDetails.slotsTimed}}" -->
				   				</tr>
				   				<tr ng-show="!isInit && form.sOccupiedslotOnTimed.$error.pattern">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_timed_error_pattern' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="!isInit && form.sOccupiedslotOnTimed.$error.required">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_timed_error_required' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="!isInit && form.sOccupiedslotOnTimed.$error.min">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_timed_error_min' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="showMaxErrorTimed">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_timed_error_max' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr>
				   					<td><strong>{{ 'street_paid_slot' | i18n }}</strong></td>
				   					<td>{{ myStreetDetails.slotsPaying }}</td>
				   					<td><strong>{{ 'log_slot_occupied_on_paying' | i18n }}</strong></td>
				   					<td><input id="occupiedSlotOnPaying" type="number" class="form-control" name="sOccupiedslotOnPaying" ng-pattern="onlyNumbers" ng-model="myStreetDetails.slotsOccupiedOnPaying" placeholder="{{ 'street_paidslotoccupied_placeholder' | i18n }}" ng-required="myStreetDetails.slotsPaying > 0" min="0" ng-change="checkCorrectSlots(myStreetDetails)"></td>
				   				</tr>
<!-- 				   				<tr ng-show="!isInit && form.sOccupiedslotOnPaying.$error.pattern"> -->
<!-- 				   					<td colspan="3" width="50%"></td> -->
<!-- 				   					<td align="center"> -->
<!-- 				   						<div class="alert alert-danger">{{ 'log_street_occupied_paid_error_pattern' | i18n }}</div> -->
<!-- 				   					</td> -->
<!-- 				   				</tr> -->
				   				<tr ng-show="!isInit && form.sOccupiedslotOnPaying.$error.required">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_paid_error_required' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="!isInit && form.sOccupiedslotOnPaying.$error.min">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_paid_error_min' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="showMaxErrorPaing">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_paid_error_max' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr>
				   					<td><strong>{{ 'street_freepark_slot' | i18n }}</strong></td>
				   					<td>{{ myStreetDetails.slotsFree }}</td>
				   					<td><strong>{{ 'log_slot_occupied_on_free' | i18n }}</strong></td>
				   					<td><input id="occupiedSlotOnFree" type="number" class="form-control" name="sOccupiedslotOnFree" ng-pattern="onlyNumbers" ng-model="myStreetDetails.slotsOccupiedOnFree" placeholder="{{ 'street_freeslotoccupied_placeholder' | i18n }}" ng-required="myStreetDetails.slotsFree > 0" min="0" ng-change="checkCorrectSlots(myStreetDetails)"></td><!--  -->
				   				</tr>
				   				<tr ng-show="!isInit && form.sOccupiedslotOnFree.$error.pattern">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_free_error_pattern' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="!isInit && form.sOccupiedslotOnFree.$error.required">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_free_error_required' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="!isInit && form.sOccupiedslotOnFree.$error.min">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_free_error_min' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr ng-show="showMaxErrorFree">
				   					<td colspan="3" width="50%"></td>
				   					<td align="center">
				   						<div class="alert alert-danger">{{ 'log_street_occupied_free_error_max' | i18n }}</div>
				   					</td>
				   				</tr>
				   				<tr>
				   					<td><strong>{{ 'street_handicapped_slot' | i18n }}</strong></td>
				   					<td>{{ myStreetDetails.slotsHandicapped }}</td>
				   					<td></td>
				   					<td></td>
				   				</tr>
				   				<tr>
				   					<td><strong>{{ 'street_unusuable_slot' | i18n }}</strong></td>
				   					<td>{{ myStreetDetails.slotsUnavailable }}</td>
				   					<td></td>
				   					<td></td>
				   				</tr>
				   			</table>
				   	</div>
				</div>
				<div class="alert alert-danger" ng-show="showUpdatingSErrorMessage">{{ 'err_in_log_street_inserting' | i18n }}</div>
				<div class="alert alert-success" ng-show="showUpdatingSSuccessMessage">{{ 'succ_in_log_street_inserting' | i18n }}</div>
		   		<table width="97%">			
				   	<tr>
				   		<td width="85%"></td>
				   		<td width="8%" align="center">
<!-- 				   			<button type="button" class="btn btn-danger btn-lg" ng-click="closeSView()">{{ 'text_btn_close' | i18n  }}</button> -->
				   			<a href="#/aux/home" type="button" class="btn btn-danger btn-lg" >{{ 'text_btn_close' | i18n }}</a>
				   		</td>
				   		<td width="7%" align="right">
<!-- 				   		<button type="button" class="btn btn-default btn-lg" ng-click="updateStreet(form, myArea, myZones, editStreet)" ng-show="isEditing">{{ 'text_btn_save' | i18n  }}</button> -->
<!-- 				   		<button type="button" class="btn btn-default btn-lg" ng-click="createStreet(form, myNewArea, myZones, newStreet)" ng-show="!isEditing">{{ 'text_btn_save' | i18n  }}</button> -->
				   			<button type="button" class="btn btn-success btn-lg" ng-click="insertStreetLog(form, myStreetDetails)">{{ 'text_btn_save' | i18n  }}</button>
				   		</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
				</table>
		   	</div>
	   	</form>
</div>