<div class="row" ng-controller="ViewDashboardCtrlPark" ng-init="initWsView()">
	<div class="col-md-2 left-filter" >
		<h4><strong>{{ 'left_filter_title' | i18n }}</strong></h4>
		<div>
<!-- 			<h5><strong>{{ 'viewAllPanelTitle' | i18n }}</strong></h5> -->
<!-- 			<table width="100%"> -->
<!-- 				<tr> -->
<!-- 					<td align="left"><label class="left-filter"><input id="slotSupply" type="radio" ng-model="dashboard_topics" value="parkSupply" ng-change="changeDashboardView()" ng-disabled="disableThemes">&nbsp;{{ 'park_parkSupply' | i18n }}</label></td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td align="left"><label class="left-filter"><input id="occupancy" type="radio" ng-model="dashboard_topics" value="occupation" ng-change="changeDashboardView()" ng-disabled="disableThemes">&nbsp;{{ 'park_occupation' | i18n }}</label></td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td align="left"><label class="left-filter"><input id="receipt" type="radio" ng-model="dashboard_topics" value="receipts" ng-change="changeDashboardView()" ng-disabled="true">&nbsp;<span style="color:gray">{{ 'park_receipts' | i18n }}</span></label></td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td align="left"><label class="left-filter"><input id="time" type="radio" ng-model="dashboard_topics" value="timeCost" ng-change="changeDashboardView()" ng-disabled="true">&nbsp;<span style="color:gray">{{ 'park_timeCost' | i18n }}</span></label></td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td align="left"><label class="left-filter"><input id="park&ride" type="radio" ng-model="dashboard_topics" value="pr" ng-change="changeDashboardView()" ng-disabled="true">&nbsp;<span style="color:gray">{{ 'park_pr' | i18n }}</span></label></td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td align="left"><label class="left-filter"><input id="balance" type="radio" ng-model="dashboard_topics" value="budget" ng-change="changeDashboardView()" ng-disabled="true">&nbsp;<span style="color:gray">{{ 'park_budget' | i18n }}</span></label></td> -->
<!-- 				</tr> -->
<!-- 			</table> -->
<!-- 			<p style="font-size:3px">&nbsp;</p> -->
			<h5><strong>{{ 'space_filter_title' | i18n }}</strong></h5>
			<table width="100%">
				<tr><!-- ng-show="isAreaVisible()" -->
					<td align="left"><label class="left-filter"><input id="rateArea" type="radio" ng-model="dashboard_space_list" value="rate_area" ng-click="showAreaList()">&nbsp;{{ 'view_areas' | i18n }}</label></td>
				</tr>
				<tr><!-- ng-show="isZonesVisible()" -->
					<td align="left"><label class="left-filter"><input id="zones" type="radio" ng-model="dashboard_space_list" value="macrozone" ng-click="showZoneList()">&nbsp;{{ 'view_macrozones' | i18n }}</label></td>
				</tr>
				<tr><!-- ng-show="isStreetVisible()" -->
					<td align="left"><label class="left-filter"><input id="streets" type="radio" ng-model="dashboard_space_list" value="microzone" ng-click="showStreetList()">&nbsp;{{ 'view_streets' | i18n }}</label></td><!-- ng-click="changeStreetAndPS()" -->
				</tr>
				<tr><!--  ng-show="isPsVisible()" -->
					<td align="left"><label class="left-filter"><input id="pStruct" type="radio" ng-model="dashboard_space_list" value="parkingstructs" ng-click="showStructList()">&nbsp;{{ 'view_parkingstructs' | i18n }}</label></td>
				</tr>
				<tr><!-- ng-show="isPmVisible()" -->
					<td align="left"><label class="left-filter"><input id="pMeters" type="radio" ng-model="dashboard_space_list" value="parkingmeter" ng-click="changeParkingMetersMarkers()" ng-disabled="true">&nbsp;<span style="color:gray">{{ 'view_parkingmeters' | i18n }}</span></label></td>
				</tr>
			</table>
			<p style="font-size:3px">&nbsp;</p>
		</div>
		<div ><!-- ng-show="dashboard_topics=='occupation'" -->
			<h5><strong>{{ 'occupation_filter_title' | i18n }}</strong></h5>
			<table width="100%" ng-controller="TimeFilterCtrl">
                <tr>
                    <td align="left">
                        <select class="form-control input-sm" ng-model="vis" ng-change="updateSearch()">
                            <option ng-repeat="v in visOptions" value="{{v}}">{{ v | i18n}}</option>
                        </select>
                    </td>
                </tr>
                <tr ng-if="vis=='vis_medium' || vis=='vis_last_value'">
                    <td align="left">
                        <label class="left-filter">{{'year_vis'|i18n}}</label><!-- ticks="sliderMonth.ticks" ticks_positions="sliderMonth.ticks_pos" ticks_labels="sliderMonth.ticks_labels" ticks_snap_bounds="sliderMonth.ticks_snap_bound" -->
                        <select class="form-control input-sm" ng-model="year" ng-change="updateYear(year)">
                            <option value="">{{'all_years_vis'|i18n}}</option>
                            <option ng-repeat="y in years" value="{{y}}">{{y}}</option>
                        </select>
                    </td>
                </tr>
				<tr ng-if="vis=='vis_medium' || vis=='vis_medium_year' || vis=='vis_last_value'">
					<td align="left">
						<label class="left-filter">{{'month_vis'| i18n}}</label><!-- ticks="sliderMonth.ticks" ticks_positions="sliderMonth.ticks_pos" ticks_labels="sliderMonth.ticks_labels" ticks_snap_bounds="sliderMonth.ticks_snap_bound" -->
                        <br/><br/>
						<input ng-model="monthSliderValue" type="text" id="monthSlider" slider options="monthSliderOptions" ng-change="updateMonth(monthSliderValue)" /><!-- ng-change="updateSearch()" -->
						<br/>
					</td>
				</tr>
                <tr ng-if="vis !='vis_medium_day'">
					<td align="left">
                        <label class="left-filter">{{'day_vis'|i18n}}</label>
                        <div>
                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="dayOptions.value" value="wd" ng-change="updateSearch()">{{'wd_vis'|i18n}}</label>
                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="dayOptions.value" value="we" ng-change="updateSearch()">{{'we_vis'|i18n}}</label>
                        </div>
                        <div><label class="left-filter"><input class="panel-radio" type="radio" ng-model="dayOptions.value" value="custom">{{'custom_vis'|i18n}}</label></div><!-- ng-change="updateSearch()" -->
                    </td>
                </tr>
                <tr ng-if="vis !='vis_medium_day' && dayOptions.value=='custom'">
                    <td align="left">
                       	<br/>
                        <input ng-model="daySliderValue" type="text" id="daySlider" slider options="daySliderOptions" ng-change="updateDay(daySliderValue)" />
                        <br/>
                    </td>
                </tr>
                <tr>
					<td align="left">
                        <label class="left-filter">{{'hour_vis'|i18n}}</label>
                        <div>
                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="hourOptions.value" value="morning" ng-change="updateSearch()">{{'morning_vis'|i18n}}</label>
                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="hourOptions.value" value="afternoon" ng-change="updateSearch()">{{'afternoon_vis'|i18n}}</label>
                            <label class="left-filter"><input class="panel-radio" type="radio" ng-model="hourOptions.value" value="night" ng-change="updateSearch()">{{'night_vis'|i18n}}</label>
                        </div>
                     	<div><label class="left-filter"><input class="panel-radio" type="radio" ng-model="hourOptions.value" value="custom">{{'custom_vis'|i18n}}</label></div><!-- ng-change="updateSearch()" -->
                    </td>
                </tr>
				<tr ng-if="hourOptions.value=='custom'">
					<td align="left">
						<br/><br/>
                        <input ng-model="hourSliderValue" type="text" id="hourSlider" slider options="hourSliderOptions" ng-change="updateHour(hourSliderValue)" />
                    </td>
				</tr>
				<tr>
					<td>
						<hr/>
					</td>
				</tr>
				<tr ng-if="showSList">
					<td>
						<a href class="btn btn-success" target="_blank" ng-click="getStreetOccupancyCsv()"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{ 'csv_btn_create' | i18n }}</a>
					</td>
				</tr>
				<tr ng-if="showZList">
					<td>
						<a href class="btn btn-success" target="_blank" ng-click="getZoneOccupancyCsv()"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{ 'csv_btn_create' | i18n }}</a>
					</td>
				</tr>
				<tr ng-if="showAList">
					<td>
						<a href class="btn btn-success" target="_blank" ng-click="getAreaOccupancyCsv()"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{ 'csv_btn_create' | i18n }}</a>
					</td>
				</tr>
				<tr ng-if="showPSList">
					<td>
						<a href class="btn btn-success" target="_blank" ng-click="getStructureOccupancyCsv()"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{ 'csv_btn_create' | i18n }}</a>
					</td>
				</tr>
<!-- 				<tr ng-if="showPSList && structCvsFile!=''">	 -->
<!-- 					<td> -->
<!-- 						<a target="_blank" href="{{ structCvsFile }}" alt="{{ 'csv_link_alt_title' | i18n }}" title="{{ 'csv_link_alt_title' | i18n }}"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{ structCvsFileName }}</a> -->
<!-- 					</td>	 -->
<!-- 				</tr> -->
			</table>
<!-- 						</div> -->
		</div>	
	</div>
	<div class="col-md-10" align="center" ng-show="!occupancyOpened"><!--  ng-class="{'col-md-10':!detailsOpened && !occupancyOpened, 'col-md-8':detailsOpened || occupancyOpened}" -->
		<div ng-show="showSList">
			<div class="listwrapper">
				<table class="table table-striped" style="width: 100%">
					<tr ng-show="streetWS.length != 0">
						<th width="16%">{{ 'street_name' | i18n }}</th>
						<th width="12%">{{ 'street_area_name' | i18n }}</th><!-- colspan="2" -->
						<th width="10%" colspan="2">{{ 'element_occupancy' | i18n }}</th>
						<th width="10%">{{ 'street_slots' | i18n }} Tot</th>
						<th width="36%" colspan="4">{{ 'street_occupied_slots' | i18n }}&nbsp;&nbsp;<img src="imgs/info.png" alt="{{ 'info_alt_title' | i18n }}" title="{{ 'info_alt_title' | i18n }}" ng-click="showInfo(1)"></th>
						<th width="5%" class="myCenter">{{ 'operations' | i18n }}</th>
					</tr>
					<tr ng-show="showInfo_1==true">
						<td colspan="10"><div class="alert alert-info">{{ 'info_1' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(1)"><b>{{ 'info_close' | i18n }}</b></span></div></td>
					</tr>
					<tbody class="animate-repeat"
							ng-repeat="street in streetWS | orderBy:['-occupancyRate', 'name'] | startFrom:currentPage*maxStreets | limitTo:maxStreets">
						<!-- 							ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
						<tr>
							<td width="16%" align="left">{{street.streetReference}}</td>
	<!--						<td width="5%" align="center"><div class="colorBox" ng-style="{'background-color': correctColor(street.area_color)}"></div></td> {{area.color}} -->
							<td width="12%" align="left">{{street.area_name}}</td>
							<td width="5%" align="center"><div class="colorBox" ng-style="{'background-color': getOccupancyColor(street.occupancyRate)}"></div></td><!-- {{area.color}} -->
							<td width="5%" align="left">
								<span ng-show="street.occupancyRate != '-1'">{{ street.occupancyRate }}%</span>
								<span ng-show="street.occupancyRate == '-1'">n.p.</span>
							</td>
							<td width="10%" align="left">{{street.slotNumber}}</td>
							<td width="9%" align="left">LC: {{street.freeParkSlotSignOccupied}}</td>
							<td width="9%" align="left">LS: {{street.freeParkSlotOccupied}}</td>
							<td width="9%" align="left">P: {{street.paidSlotOccupied}}</td>
							<td width="9%" align="left">DO: {{street.timedParkSlotOccupied}}</td>
							<td width="5%" align="center">
								<a href type="button" class="btn btn-primary btn-xs" ng-click="showOccupancyInList(street, 3)" alt="{{ 'link_view_title' | i18n }}" title="{{ 'link_view_title' | i18n }}"><i class="glyphicon glyphicon-eye-open"></i></a>
	<!-- 							<a href type="button" class="btn btn-primary btn-xs" ng-click="setSEdit(street)"  alt="{{ 'link_edit_title' | i18n }}" title="{{ 'link_edit_title' | i18n }}"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp; -->
	<!-- 							<a href type="button" class="btn btn-primary btn-xs" ng-click="setSRemove(street)"  alt="{{ 'link_edit_title' | i18n }}" title="{{ 'link_edit_title' | i18n }}"><i class="glyphicon glyphicon-trash"></i></a> -->
							</td>
						</tr>
					</tbody>
					<tr ng-show="areaWS.length == 0">
						<td colspan="10"><strong>{{ 'no_streets_in_lists' | i18n }}</strong></td>
					</tr>
				</table>
			</div>
			
			<table width="100%">
				<tr>
					<td width="33%"></td>
					<td width="34%" align="center">
						<button class="btn btn-success"
							ng-disabled="currentPage == 0"
							ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
							{{currentPage+1}}/{{numberOfPages(2, streetWS)}}
						<button class="btn btn-success"
							ng-disabled="currentPage >= filtered.length/maxStreets - 1"
							ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
					</td>
					<td width="33%" align="left">
<!-- 						<button class="btn btn-success" ng-click="getStreetOccupancyCsv()">Crea CSV</button> -->
<!-- 						&nbsp;&nbsp; -->
<!-- 						<a class="btn btn-success" target="_blank" href="{{ streetCvsFile }}">Scarica CSV</a> -->
					</td>
				</tr>
			</table>	
		
		</div>
		<div ng-show="showZList">
			<div class="listwrapper">
				<table class="table table-striped" style="width: 100%">
					<tr ng-show="zoneWS.length != 0">
						<th width="20%"><span ng-show="zone_name.visible">{{ 'zone_name' | i18n }}</span></th>
						<th width="10%" class="myCenter"><span ng-show="zone_submacro.visible">{{ 'zone_submacro' | i18n }}</span></th>
						<th width="15%"><span ng-show="zone_color.visible">{{ 'zone_color' | i18n }}</span></th>
						<th width="15%" colspan="2">{{ 'element_occupancy' | i18n }}</th>
						<th width="15%" align="left">{{ 'zone_total_slots' | i18n }} Tot</th>
						<th width="15%" align="left">{{ 'zone_occupied_slots' | i18n }}</th>
						<th width="10%" class="myCenter">{{ 'operations' | i18n }}</th>
					</tr>
					<tbody class="animate-repeat"
						ng-repeat="zone in zoneWS | filter:q | orderBy: ['-occupancy', 'name'] |  startFrom:currentPage*maxZones | limitTo:maxZones">
				<!--	ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
						<tr>
							<td width="20%" align="left"><span ng-show="zone_name.visible">{{zone.name}}</span></td>
							<td width="10%" align="center"><span ng-show="zone_submacro.visible">{{zone.submacro}}</span></td>
							<td width="15%" align="left"><div class="colorBox" ng-show="zone_color.visible" ng-style="{'background-color': correctColor(zone.color)}"></div></td>
							<td width="5%" align="center"><div class="colorBox" ng-style="{'background-color': getOccupancyColor(zone.occupancy)}"></div></td>
							<td width="10%" align="left">
								<span ng-show="zone.occupancy != '-1'">{{zone.occupancy}}%</span>
								<span ng-show="zone.occupancy == '-1'">n.p.</span>
							</td>
							<td width="15%" align="left">{{zone.slotNumber}}</td>
							<td width="15%" align="left">{{zone.slotOccupied}}</td>
							<td width="10%" align="center">
								<a href type="button" class="btn btn-primary btn-xs" ng-click="showOccupancyInList(zone,4)" alt="{{ 'link_view_title' | i18n }}" title="{{ 'link_view_title' | i18n }}"><i class="glyphicon glyphicon-eye-open"></i></a>
<!-- 								<a href type="button" class="btn btn-primary btn-xs" ng-click="setZEdit(zone)"  alt="{{ 'link_edit_title' | i18n }}" title="{{ 'link_edit_title' | i18n }}"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp; -->
<!-- 								<a href type="button" class="btn btn-primary btn-xs" ng-click="setZRemove(zone)"  alt="{{ 'link_remove_title' | i18n }}" title="{{ 'link_remove_title' | i18n }}"><i class="glyphicon glyphicon-trash"></i></a> -->
							</td>
						</tr>
					</tbody>
					<tr ng-show="zoneWS.length == 0">
						<td colspan="8"><strong>{{ 'no_zones_in_lists' | i18n }}</strong></td>
					</tr>
				</table>
			</div>
			<table width="100%">
				<tr>
					<td width="33%"></td>
					<td width="34%" align="center">
						<button class="btn btn-success"
								ng-disabled="currentPage == 0"
								ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
							{{currentPage+1}}/{{numberOfPages(5)}}
						<button class="btn btn-success"
								ng-disabled="currentPage >= zoneWS.length/maxZones - 1"
								ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
					</td>
					<td width="33%" align="left">
<!-- 						<button class="btn btn-success" ng-click="getZoneOccupancyCsv()">Crea CSV</button> -->
<!-- 						&nbsp;&nbsp; -->
<!-- 						<a class="btn btn-success" target="_blank" href="{{ zoneCvsFile }}">Scarica CSV</a> -->
					</td>
				</tr>
			</table>		
		</div>
		<div ng-show="showAList">
			<div class="listwrapper">
				<table class="table table-striped" style="width: 100%">
					<tr ng-show="areaWS.length != 0">
						<th width="15%"><span ng-show="a_name.visible">{{ 'area_name' | i18n }}</span></th>
						<th width="10%"><span ng-show="a_fee.visible">{{ 'area_rate' | i18n }}</span></th>
<!-- 						<th width="31%"><span ng-show="a_timeSlot.visible">{{ 'area_time' | i18n }}</span></th> -->
						<th width="20%"><span ng-show="a_color.visible">{{ 'area_color' | i18n }}</span></th>
						<th width="15%" colspan="2">{{ 'element_occupancy' | i18n }}</th>
						<th width="15%" align="left">{{ 'area_total_slots' | i18n }} Tot</th>
						<th width="15%" align="left">{{ 'area_occupied_slots' | i18n }}</th>
						<th class="myCenter" width="10%">{{ 'operations' | i18n }}</th>
					</tr>
					<tbody class="animate-repeat"
						ng-repeat="area in areaWS | filter:q | orderBy:['-occupancy', 'name'] | startFrom:currentPage*maxAreas | limitTo:maxAreas">
			<!-- 		ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
						<tr>
							<td width="15%" align="left"><span ng-show="a_name.visible">{{area.name}}</span></td>
							<td width="10%" align="left"><span ng-show="a_fee.visible">{{area.fee}} {{ 'euro_hour' | i18n }}</span></td>
<!-- 							<td width="31%" align="left"><span ng-show="a_timeSlot.visible">{{area.timeSlot}}</span></td> -->
							<td width="20%" align="center"><div class="colorBox" ng-show="a_color.visible" ng-style="{'background-color': correctColor(area.color)}"></div></td>
							<td width="5%" align="center"><div class="colorBox" ng-style="{'background-color': getOccupancyColor(area.occupancy)}"></div></td>
							<td width="10%" align="left">
								<span ng-show="area.occupancy != '-1'">{{area.occupancy}}%</span>
								<span ng-show="area.occupancy == '-1'">n.p.</span>
							</td>
							<td width="15%" align="left">{{area.slotNumber}}</td>
							<td width="15%" align="left">{{area.slotOccupied}}</td>
							<td width="10%" align="center">
								<a href type="button" class="btn btn-primary btn-xs" ng-click="showOccupancyInList(area,5)" alt="{{ 'link_view_title' | i18n }}" title="{{ 'link_view_title' | i18n }}"><i class="glyphicon glyphicon-eye-open"></i></a>
<!-- 								<a href type="button" class="btn btn-primary btn-xs" ng-click="setAEdit(area)"  alt="{{ 'link_edit_title' | i18n }}" title="{{ 'link_edit_title' | i18n }}"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp; -->
<!-- 								<a href type="button" class="btn btn-primary btn-xs" ng-click="setARemove(area)" alt="{{ 'link_remove_title' | i18n }}" title="{{ 'link_remove_title' | i18n }}"><i class="glyphicon glyphicon-trash"></i></a> -->
							</td>
						</tr>
					</tbody>
					<tr ng-show="areaWS.length == 0">
						<td colspan="8"><strong>{{ 'no_areas_in_lists' | i18n }}</strong></td>
					</tr>
				</table>
			</div>
			<table width="100%">
				<tr>
					<td width="33%"></td>
					<td width="34%" align="center">
						<button class="btn btn-success"
							ng-disabled="currentPage == 0"
							ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
							{{currentPage+1}}/{{numberOfPages(1)}}
						<button class="btn btn-success"
							ng-disabled="currentPage >= areaWS.length/maxAreas - 1"
							ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
					</td>
					<td width="33%" align="left">
<!-- 						<button class="btn btn-success" ng-click="getAreaOccupancyCsv()">Crea CSV</button> -->
<!-- 						&nbsp;&nbsp; -->
<!-- 						<a class="btn btn-success" target="_blank" href="{{ areaCvsFile }}">Scarica CSV</a> -->
					</td>
				</tr>
			</table>	
		</div>
		<div ng-show="showPSList">
			<div class="listwrapper">
				<table class="table table-striped" style="width: 100%">
					<tr ng-show="pstructWS.length != 0">
						<th width="15%"><span ng-show="ps_name.visible">{{ 'ps_name' | i18n }}</span></th>
						<th width="15%"><span ng-show="ps_address.visible">{{ 'ps_address' | i18n }}</span></th>
	<!-- 				<th width="35%">{{ 'ps_time' | i18n }}</th> -->
						<th width="10%" colspan="2">{{ 'element_occupancy' | i18n }}</th>
						<th width="10%" class="myCenter"><span ng-show="ps_timeSlot.visible">{{ 'ps_slots' | i18n }}</span></th>
						<th width="10%" class="myCenter">{{ 'ps_occupiedslot' | i18n }}</th>
						<th width="10%" class="myCenter">{{ 'operations' | i18n }}</th>
					</tr>
					<tbody class="animate-repeat"
						ng-repeat="pstruct in pstructWS | filter:q | orderBy:['-occupancyRate', 'name'] | startFrom:currentPage*maxPStructs | limitTo:maxPStructs">
						<tr>
							<td width="15%" align="left"><span ng-show="ps_name.visible">{{pstruct.name}}</span></td>
							<td width="15%" align="left"><span ng-show="ps_address.visible">{{pstruct.streetReference}}</span></td>
	<!-- 					<td width="35%" align="center">{{pstruct.timeSlot}}</td> -->
							<td width="5%" align="center"><div class="colorBox" ng-style="{'background-color': getOccupancyColor(pstruct.occupancyRate)}"></div></td><!-- {{area.color}} -->
							<td width="5%" align="left">
								<span ng-show="pstruct.occupancyRate != '-1'">{{ pstruct.occupancyRate }}%</span>
								<span ng-show="pstruct.occupancyRate == '-1'">n.p.</span>
							</td>
							<td width="10%" align="center"><span ng-show="ps_timeSlot.visible">{{pstruct.slotNumber}}</span></td>
							<td width="10%" align="center">
								<span ng-show="pstruct.occupancyRate >= 0">{{pstruct.slotOccupied}}</span>
								<span ng-show="pstruct.occupancyRate < 0">n.p.</span>		
							</td>
							
							<td width="10%" align="center">
								<a href type="button" class="btn btn-primary btn-xs" ng-click="showOccupancyInList(pstruct, 2)" alt="{{ 'link_view_title' | i18n }}" title="{{ 'link_view_title' | i18n }}"><i class="glyphicon glyphicon-eye-open"></i></a>&nbsp;
<!-- 								<a href type="button" class="btn btn-primary btn-xs" ng-click="setPsEdit(pstruct)"  alt="{{ 'link_edit_title' | i18n }}" title="{{ 'link_edit_title' | i18n }}"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp; -->
<!-- 								<a href type="button" class="btn btn-primary btn-xs" ng-click="setPsRemove(pstruct)" alt="{{ 'link_remove_title' | i18n }}" title="{{ 'link_remove_title' | i18n }}"><i class="glyphicon glyphicon-trash"></i></a> -->
							</td>
						</tr>
					</tbody>
					<tr ng-show="pstructWS.length == 0">
						<td colspan="5"><strong>{{ 'no_ps_in_lists' | i18n }}</strong></td>
					</tr>
				</table>
			</div>
			<table width="100%">
				<tr>
					<td width="33%"></td>
					<td width="34%" align="center">
						<button class="btn btn-success"
								ng-disabled="currentPage == 0"
								ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
							{{currentPage+1}}/{{numberOfPages(4)}}
						<button class="btn btn-success"
								ng-disabled="currentPage >= pstructWS.length/maxPStructs - 1"
								ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
					</td>
					<td width="33%" align="left">
<!-- 						<button class="btn btn-success" ng-click="getStructureOccupancyCsv()">Crea CSV</button> -->
<!-- 						&nbsp;&nbsp; -->
<!-- 						<a class="btn btn-success" target="_blank" href="{{ structCvsFile }}">Scarica CSV</a> -->
					</td>
				</tr>
			</table>
		</div>	
				
<!-- 					<map id="viewMap" class="angular-google-map-container" center="{{ mapOption.center }}" zoom="{{ mapOption.zoom }}" styles="{{ mapOption.styles }}"> -->
<!-- 						<marker ng-repeat="pm in mapParkingMetersMarkers" id="{{ pm.id }}" position="{{ pm.position }}" icon="{{ pm.icon }}" on-click="showDetails(event, pm, 1, 0)" >on-click="showInfoWindow(event, 'pm')" -->
<!-- 						</marker> -->
<!-- 						<marker ng-repeat="pmSel in mapParkingMetersSelectedMarkers" id="{{ pmSel.id }}" animation="{{ pmSel.options.animation }}" position="{{ pmSel.position }}" icon="{{ pmSel.icon }}" on-click="hideDetails(event, pmSel, 1)" ></marker>on-click="showInfoWindow(event, 'pm')" -->
<!-- 						<marker ng-repeat="ps in mapParkingStructureMarkers" id="{{ ps.id }}" position="{{ ps.position }}" icon="{{ ps.icon }}" on-click="showDetails(event, ps, 2, 0)" >on-click="showInfoWindow(event, 'ps')" -->
<!-- 						</marker> -->
<!-- 						<marker ng-repeat="psSel in mapParkingStructureSelectedMarkers" id="{{ psSel.id }}" animation="{{ psSel.options.animation }}" position="{{ psSel.position }}" icon="{{ psSel.icon }}" on-click="hideDetails(event, psSel, 2)" >on-click="showInfoWindow(event, 'ps')" -->
<!-- 						</marker> -->
<!-- 						<marker ng-repeat="psOcc in occupancyParkingStructureMarkers" id="{{ psOcc.id }}" position="{{ psOcc.position }}" icon="{{ psOcc.icon }}" on-click="showOccupancy(event, psOcc, 2, 1)" >on-click="showInfoWindow(event, 'ps')" -->
<!-- 						</marker> -->
<!-- 						<marker ng-repeat="bp in mapBikePointMarkers" id="{{ bp.id }}" position="{{ bp.position }}" icon="{{ bpMarkerIcon }}" on-click="showInfoWindow(event, 'bp')" > -->
<!-- 							<info-window id="bp" visible-on-marker="{{ bp.id }}"> -->
<!-- 						        <div ng-non-bindable=""> -->
<!-- 						          	<div id="siteNotice"></div> -->
<!-- 						          	<h4 id="firstHeading" class="firstHeading"><span ng-show="bp_name.visible">{{ bp.data.name }}</span></h4> -->
<!-- 							        <div id="bodyContent"> -->
<!-- 							        	<table> -->
<!-- 											<tr ng-show="bp_slotNumber.visible"> -->
<!-- 							        			<td><strong>{{ 'bp_slots' | i18n }}:</strong></td> -->
<!-- 							        			<td>&nbsp;{{ bp.data.slotNumber }}</td> -->
<!-- 							        		</tr> -->
<!-- 							        		<tr ng-show="bp_bikeNumber.visible"> -->
<!-- 							        			<td><strong>{{ 'bp_bikes' | i18n }}:</strong></td> -->
<!-- 							        			<td>&nbsp;{{ bp.data.bikeNumber }}</td> -->
<!-- 							        		</tr> -->
<!-- 							        	</table> -->
<!-- 							        </div> -->
<!-- 						        </div> -->
<!-- 						    </info-window> -->
<!-- 						</marker> -->
<!-- 						<shape name="polyline" ng-repeat="s in mapStreets" id="{{ s.id }}" path="{{ s.gpath }}"  -->
<!--          					geodesic="{{ s.geodesic }}" stroke-color="{{ s.stroke.color }}" stroke-opacity="{{ s.stroke.opacity }}" stroke-weight="{{ s.stroke.weight }}" on-click="showDetails(event, s, 3, 0)"> on-click="showInfoWindow(event, s.info_windows_cod)" -->
<!--      					</shape> -->
<!--      					<shape name="polyline" ng-repeat="sSel in mapSelectedStreets" id="{{ sSel.id }}" path="{{ sSel.gpath }}"  -->
<!--          					geodesic="{{ sSel.geodesic }}" stroke-color="{{ sSel.stroke.color }}" stroke-opacity="{{ sSel.stroke.opacity }}" stroke-weight="{{ sSel.stroke.weight }}" on-click="hideDetails(event, sSel, 3)">on-click="showInfoWindow(event, s.info_windows_cod)" -->
<!--      					</shape> -->
<!--      					<marker ng-repeat="smSel in mapStreetSelectedMarkers" id="{{ smSel.id }}" position="{{ smSel.position }}" icon="{{ smSel.icon }}" on-click="hideDetails(event, smSel.data, 3)" ></marker> -->
<!--      					<shape name="polyline" ng-repeat="sOcc in occupancyStreets" id="{{ sOcc.id }}" path="{{ sOcc.gpath }}"  -->
<!--          					geodesic="{{ sOcc.geodesic }}" stroke-color="{{ sOcc.stroke.color }}" stroke-opacity="{{ sOcc.stroke.opacity }}" stroke-weight="{{ sOcc.stroke.weight }}" on-click="showOccupancy(event, sOcc, 3, 1)"> on-click="showInfoWindow(event, s.info_windows_cod)" -->
<!--      					</shape> -->
<!-- 						<shape name="polygon" ng-repeat="z in mapZones" id="{{ z.id }}" path="{{ z.gpath }}" visible="{{ z.visible }}" -->
<!--          					geodesic="{{ z.geodesic }}" stroke-color="{{ z.stroke.color }}" stroke-opacity="1.0" stroke-weight="{{ z.stroke.weight }}" -->
<!--          					fill-color="{{ z.stroke.color }}" fill-opacity="{{ z.fill.opacity }}" on-click="showDetails(event, z, 4, 0)">on-click="showInfoWindow(event, z.info_windows_cod)" -->
<!--      					</shape> -->
<!--      					<shape name="polygon" ng-repeat="zSel in mapSelectedZones" id="{{ zSel.id }}" path="{{ zSel.gpath }}" visible="{{ zSel.visible }}" -->
<!--          					geodesic="{{ zSel.geodesic }}" stroke-color="{{ zSel.stroke.color }}" stroke-opacity="1.0" stroke-weight="{{ zSel.stroke.weight }}" -->
<!--          					fill-color="{{ zSel.stroke.color }}" fill-opacity="{{ zSel.fill.opacity }}" on-click="hideDetails(event, zSel, 4)">on-click="showInfoWindow(event, z.info_windows_cod)" -->
<!--      					</shape> -->
<!--      					<shape name="polygon" ng-repeat="zOcc in occupancyZones" id="{{ zOcc.id }}" path="{{ zOcc.gpath }}" visible="{{ zOcc.visible }}" -->
<!--          					geodesic="{{ zOcc.geodesic }}" stroke-color="{{ zOcc.stroke.color }}" stroke-opacity="1.0" stroke-weight="{{ zOcc.stroke.weight }}" -->
<!--          					fill-color="{{ zOcc.stroke.color }}" fill-opacity="{{ zOcc.fill.opacity }}" on-click="showOccupancy(event, zOcc, 4, 1)">on-click="showInfoWindow(event, z.info_windows_cod)" -->
<!--      					</shape> -->
<!--      					<shape name="polygon" ng-repeat="a in mapAreas" id="{{ a.id }}" path="{{ a.gpath }}" visible="{{ a.visible }}" -->
<!--          					geodesic="{{ a.geodesic }}" stroke-color="{{ a.stroke.color }}" stroke-opacity="{{ a.stroke.opacity }}" stroke-weight="{{ a.stroke.weight }}" -->
<!--          					fill-color="{{ a.fill.color }}" fill-opacity="{{ a.fill.opacity }}" on-click="showDetails(event, a, 5, 0)">on-click="showInfoWindow(event, a.info_windows_cod)" -->
<!--      					</shape> -->
<!--      					<shape name="polygon" ng-repeat="aSel in mapSelectedAreas" id="{{ aSel.id }}" path="{{ aSel.gpath }}" visible="{{ aSel.visible }}" -->
<!--          					geodesic="{{ aSel.geodesic }}" stroke-color="{{ aSel.stroke.color }}" stroke-opacity="{{ aSel.stroke.opacity }}" stroke-weight="{{ aSel.stroke.weight }}" -->
<!--          					fill-color="{{ aSel.fill.color }}" fill-opacity="{{ aSel.fill.opacity }}" on-click="hideDetails(event, aSel, 5)">on-click="showInfoWindow(event, aSel.info_windows_cod)" -->
<!--      					</shape> -->
<!--      					<shape name="polygon" ng-repeat="aOcc in occupancyAreas" id="{{ aOcc.id }}" path="{{ aOcc.gpath }}" visible="{{ aOcc.visible }}" -->
<!--          					geodesic="{{ aOcc.geodesic }}" stroke-color="{{ aOcc.stroke.color }}" stroke-opacity="{{ aOcc.stroke.opacity }}" stroke-weight="{{ aOcc.stroke.weight }}" -->
<!--          					fill-color="{{ aOcc.stroke.color }}" fill-opacity="{{ aOcc.fill.opacity }}" on-click="showOccupancy(event, aOcc, 5, 1)">on-click="showInfoWindow(event, z.info_windows_cod)" -->
<!--      					</shape> -->
<!-- 					</map> -->
	</div>
	<div class="col-md-10" align="center" ng-show="occupancyOpened">
		<div>
<!-- 	<div class="panel panel-danger" > -->
<!-- 		<div class="panel-heading"> -->
			<div class="alert alert-danger">
				<table width="100%">
					<tr>
						<td align="left"><h5 class="panel-title">{{ 'element_details' | i18n }}</h5></td>
						<td align="right"><button type="button" class="btn btn-danger btn-xs" ng-click="closeAllDetailsList()"><i class="glyphicon glyphicon-remove"></i></button></td>
					</tr>
				</table>
			</div>	
<!-- 		<h5 class="panel-title">{{ 'element_occupancy' | i18n }}&nbsp; &nbsp; <button type="button" class="btn btn-danger btn-xs" ng-click="closeAllDetails(theme)"><i class="glyphicon glyphicon-remove"></i></button></h5> -->
<!-- 		</div> -->
<!-- 		<div class="panel-body dashboard-panel"> -->
			<div ng-show="isPMDetShow()">
				<table width="100%">
					<tr>
						<td class="detailsTableSX">{{ 'pm_code' | i18n }}:</td>
						<td class="detailsTableCX"></td>
						<td class="detailsTableDX">{{ pmDetails.code }}</td>
					</tr>
					<tr ng-show="pm_note.visible">
						<td class="detailsTableSX">{{ 'pm_note' | i18n }}:</td>
						<td class="detailsTableCX"></td>
						<td class="detailsTableDX">&nbsp;{{ pmDetails.note }}</td>
					</tr>
					<tr ng-show="pm_status.visible">
						<td class="detailsTableSX">{{ 'pm_status' | i18n }}:</td>
						<td class="detailsTableCX"></td>
						<td class="detailsTableDX">
							<span ng-show="pmDetails.status=='ACTIVE'"><strong>Attivo</strong></span>
							<span ng-show="pmDetails.status!='ACTIVE'"><strong>Disattivo</strong></span>
						</td>	
					</tr>
					<tr ng-show="pm_rateArea.visible">
						<td colspan="3" class="detailsTableColSpan">
							<hr/>
						</td>
					</tr>
					<tr ng-show="pm_rateArea.visible">
						<td colspan="3" class="detailsTableColSpan">
							{{ 'pm_area_name' | i18n }}
						</td>
					</tr>
					<tr>
						<td class="detailsTableSX">{{ 'area_name' | i18n }}:</td>
						<td class="detailsTableCX"></td>
						<td class="detailsTableDX">{{ pmDetails.area.name }}</td>
					</tr>
					<tr>	
						<td class="detailsTableSX">{{ 'area_rate' | i18n }}:</td>
						<td class="detailsTableCX"></td>
						<td class="detailsTableDX">{{ pmDetails.area.fee }} Euro/ora</td>
					</tr>
					<tr>	
						<td class="detailsTableSX">{{ 'area_color' | i18n }}</td>
						<td class="detailsTableCX"></td>
						<td class="detailsTableDX"><span class="colorBox" ng-style="{'background-color': correctColor(pmDetails.area.color)}"></span></td>
					</tr>
				</table>
			</div>
			<div ng-show="isPSDetShow()">
				<table width="100%">
					<tr>
						<td width="45%" align="left" valign="middle">
							<table width="100%">
								<tr>
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableSXS">{{ 'ps_name' | i18n }}:</td>
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableDXS">{{ psDetails.name }}</td>
									<td class="detailsListTableCXS"></td>
								</tr>
								 <tr ng-show="ps_address.visible">
								 	<td class="detailsListTableCXS"></td>
						        	<td class="detailsListTableSXS">{{ 'ps_address' | i18n }}:</td>
						        	<td class="detailsListTableCXS"></td>
						        	<td class="detailsListTableDXS">{{ psDetails.streetReference }}</td>
						        	<td class="detailsListTableCXS"></td>
						        </tr>
								<tr>
								<tr ng-show="pm_rateArea.visible">
									<td class="detailsListTableCXS"></td>
						   			<td colspan="3" class="detailsTableColSpanS">
						   				<hr/>
						   			</td>
						   			<td class="detailsListTableCXS"></td>
						   		</tr>
						   		<tr ng-show="pm_rateArea.visible">
						   			<td class="detailsListTableCXS"></td>
						   			<td colspan="3" class="detailsTableColSpanLeftS">
										{{ 'ps_slots' | i18n }}
						  			</td>
						  			<td class="detailsListTableCXS"></td>
								</tr>
								<tr ng-show="ps_slotNumber.visible">
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableSXS">{{ 'ps_totalslot' | i18n }}:</td>
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableDXS">{{ psDetails.slotNumber }}</td>
									<td class="detailsListTableCXS"></td>
								</tr>
								<tr>
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableSXS">{{ 'ps_occupiedslot' | i18n }}:</td>
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableDXS">
										<span ng-show="isCorrectNumber(psDetails.slotOccupied)">{{ psDetails.slotOccupied }}</span>
										<span ng-show="!isCorrectNumber(psDetails.slotOccupied)">n.p.</span>
									</td>
									<td class="detailsListTableCXS"></td>
								</tr>	
							</table>
						</td>
						<td width="55%" valign="middle" align="center">
							<div google-chart chart="chartPsOccupancy" style="{{chart.cssStyle}}" ng-show="isCorrectNumber(psDetails.slotOccupied)"/>
						</td>
					</tr>
				</table>
<!-- 				<table width="100%"> -->
<!-- 					<tr> -->
<!-- 						<td class="detailsCompressTableSX">{{ 'ps_name' | i18n }}:</td> -->
<!-- 						<td class="detailsCompressTableCX"></td> -->
<!-- 						<td class="detailsCompressTableDX">{{ psDetails.name }}</td> -->
<!-- 						<td class="detailsCompressTableDiagram" rowspan="6"> -->
<!-- 							<div google-chart chart="chartPsOccupancy" style="{{chart.cssStyle}}" ng-show="isCorrectNumber(psDetails.slotOccupied)"/> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 			        <tr ng-show="ps_address.visible"> -->
<!-- 			        	<td class="detailsCompressTableSX">{{ 'ps_address' | i18n }}:</td> -->
<!-- 			        	<td class="detailsCompressTableCX"></td> -->
<!-- 			        	<td class="detailsCompressTableDX">&nbsp;{{ psDetails.streetReference }}</td> -->
<!-- 			        </tr> -->
<!-- 					<tr> -->
<!-- 					<tr ng-show="pm_rateArea.visible"> -->
<!-- 			   			<td colspan="3" class="detailsTableColSpan"> -->
<!-- 			   				<hr/> -->
<!-- 			   			</td> -->
<!-- 			   		</tr> -->
<!-- 			   		<tr ng-show="pm_rateArea.visible"> -->
<!-- 			   			<td colspan="3" class="detailsTableColSpan"> -->
<!-- 							{{ 'ps_slots' | i18n }} -->
<!-- 			  			</td> -->
<!-- 					</tr> -->
<!-- 					<tr ng-show="ps_slotNumber.visible"> -->
<!-- 						<td class="detailsCompressTableSX">{{ 'ps_totalslot' | i18n }}:</td> -->
<!-- 						<td class="detailsCompressTableCX"></td> -->
<!-- 						<td class="detailsCompressTableDX">{{ psDetails.slotNumber }}</td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td class="detailsCompressTableSX">{{ 'ps_occupiedslot' | i18n }}:</td> -->
<!-- 						<td class="detailsCompressTableCX"></td> -->
<!-- 						<td class="detailsCompressTableDX"> -->
<!-- 							&nbsp; -->
<!-- 							<span ng-show="isCorrectNumber(psDetails.slotOccupied)">{{ psDetails.slotOccupied }}</span> -->
<!-- 							<span ng-show="!isCorrectNumber(psDetails.slotOccupied)">n.p.</span> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 				</table> -->
				
			</div>
			<div ng-show="isStreetDetShow()">
				<table width="100%">
					<tr valign="top">
						<td width="33%">
							<table width="100%">
								<tr>
									<td class="detailsListTableCXS"></td>
						        	<td class="detailsListTableSXS">{{ 'street_name' | i18n }}:</td>
						        	<td class="detailsListTableCXS"></td>
						        	<td class="detailsListTableDXS">&nbsp;{{ sDetails.streetReference }}</td>
						        	<td class="detailsListTableCXS"></td>
						        </tr>
						        <tr>
						        	<td class="detailsListTableCXS"></td>
							        <td colspan="3" class="detailsTableColSpanS">
							        	<hr/>
							        </td>
							        <td class="detailsListTableCXS"></td>
							    </tr>
						   		<tr>
						   			<td class="detailsListTableCXS"></td>
						   			<td colspan="3" class="detailsTableColSpanLeftS">
						   				{{ 'street_slots' | i18n }}
						   			</td>
						   			<td class="detailsListTableCXS"></td>
						   		</tr>
								<tr ng-show="s_slotNum.visible">
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableSXS">{{ 'street_totalslot' | i18n }}:</td>
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableDXS">{{ sDetails.slotNumber }}</td>
									<td class="detailsListTableCXS"></td>
								</tr>
								<tr>
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableSXS">{{ 'street_occupiedslot' | i18n }}:</td>
									<td class="detailsListTableCXS"></td>
									<td class="detailsListTableDXS">
										<span ng-show="sDetails.occupancyRate == -1">{{ 'street_occupation_not_present' | i18n }}</span>
										<span ng-show="sDetails.occupancyRate != -1">{{ sDetails.slotOccupied }}</span>
									</td>
									<td class="detailsListTableCXS"></td>
								</tr>
							</table>	
						</td>
						<td width="34%">
							<table width="100%">
								<tr>
						   			<td colspan="3" class="detailsTableColSpanLeft">
						   				{{ 'street_free_slots' | i18n }}
						  			</td>
						   		</tr>
								<tr>
									<td class="detailsListTableSX">{{ 'street_freepark_slot_signed_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">
										<span ng-show="sDetails.freeParkSlotSignFree > 0">{{ sDetails.freeParkSlotSignFree }}</span>
										<span ng-show="sDetails.freeParkSlotSignFree == 0">{{ sDetails.freeParkSlotFree }}</span>
									</td>
								</tr>
								<tr>
									<td class="detailsListTableSX">{{ 'street_paid_slot_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">{{ sDetails.paidSlotFree }}</td>
								</tr>
									<tr ng-show="s_timedSlot.visible">
									<td class="detailsListTableSX">{{ 'street_timedpark_slot_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">{{ sDetails.timedParkSlotFree }}</td>
								</tr>
								<tr ng-show="s_handicappedSlot.visible">
									<td class="detailsListTableSX">{{ 'street_handicapped_slot_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">{{ sDetails.handicappedSlotFree }}</td>
								</tr>
								<tr>
									<td class="detailsListTableSX">{{ 'street_reserved_slot_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">{{ sDetails.reservedSlotFree }}</td>
								</tr>
							</table>
						</td>
						<td width="33%">
							<table width="100%">
								<tr>
									<td colspan="3" class="detailsTableColSpanLeft">
									    {{ 'street_occupied_slots' | i18n }}
									</td>
								</tr>
								<tr>
									<td class="detailsListTableSX">{{ 'street_freepark_slot_signed_occupied_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">
										<span ng-show="sDetails.freeParkSlotSignOccupied > 0">{{ sDetails.freeParkSlotSignOccupied }}</span>
										<span ng-show="sDetails.freeParkSlotSignOccupied == 0">{{ sDetails.freeParkSlotOccupied }}</span>
									</td>
								</tr>
								<tr>
									<td class="detailsListTableSX">{{ 'street_paid_slot_occupied_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">{{ sDetails.paidSlotOccupied }}</td>
								</tr>
								<tr ng-show="s_timedSlot.visible">
									<td class="detailsListTableSX">{{ 'street_timedpark_slot_occupied_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">{{ sDetails.timedParkSlotOccupied }}</td>
								</tr>
								<tr ng-show="s_handicappedSlot.visible">
									<td class="detailsListTableSX">{{ 'street_handicapped_slot_occupied_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">{{ sDetails.handicappedSlotOccupied }}</td>
								</tr>
								<tr>
									<td class="detailsListTableSX">{{ 'street_reserved_slot_occupied_db' | i18n }}:</td>
									<td class="detailsListTableCX"></td>
									<td class="detailsListTableDX">{{ sDetails.reservedSlotOccupied }}</td>
								</tr>
							</table>				
						</td>
					</tr>
					<tr>
						<td colspan="3" class="detailsTableColSpan">
							<hr/>
						</td>
					</tr>
						<tr>
							<td width="33%">
							    <div google-chart chart="chartStreetOccupancy" style="{{chart.cssStyle}}"/>
							</td>
							<td width="34%">
							    <div google-chart chart="chartStreetFreeParkAvailability" style="{{chart.cssStyle}}"/>
							</td>
							<td width="33%">
							    <div google-chart chart="chartStreetOccupiedParkComposition" style="{{chart.cssStyle}}"/>
							</td>
						</tr>
					</table>										
<!-- 						        		<tr> -->
<!-- 						        			<td colspan="3" class="detailsTableColSpan"> -->
<!-- 						        				<hr/> -->
<!-- 						        			</td> -->
<!-- 						        		</tr> -->
<!-- 						        		<tr> -->
<!-- 						        			<td colspan="3" class="detailsTableColSpan"> -->
<!-- 						        				{{ 'street_free_slots' | i18n }} -->
<!-- 						        			</td> -->
<!-- 						        		</tr> -->
<!-- 										<tr> -->
<!-- 											<td class="detailsTableSX">{{ 'street_freepark_slot_signed_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp; -->
<!-- 												<span ng-show="sDetails.freeParkSlotSignFree > 0">{{ sDetails.freeParkSlotSignFree }}</span> -->
<!-- 												<span ng-show="sDetails.freeParkSlotSignFree == 0">{{ sDetails.freeParkSlotFree }}</span> -->
<!-- 											</td> -->
<!-- 										</tr> -->
<!-- 										<tr> -->
<!-- 											<td class="detailsTableSX">{{ 'street_paid_slot_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp;{{ sDetails.paidSlotFree }}</td> -->
<!-- 										</tr> -->
<!-- 										<tr ng-show="s_timedSlot.visible"> -->
<!-- 											<td class="detailsTableSX">{{ 'street_timedpark_slot_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp;{{ sDetails.timedParkSlotFree }}</td> -->
<!-- 										</tr> -->
<!-- 										<tr ng-show="s_handicappedSlot.visible"> -->
<!-- 											<td class="detailsTableSX">{{ 'street_handicapped_slot_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp;{{ sDetails.handicappedSlotFree }}</td> -->
<!-- 										</tr> -->
<!-- 										<tr> -->
<!-- 											<td class="detailsTableSX">{{ 'street_reserved_slot_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp;{{ sDetails.reservedSlotFree }}</td> -->
<!-- 										</tr> -->
<!-- 										        <div google-chart chart="chartStreetFreeParkAvailability" style="{{chart.cssStyle}}"/> -->
<!-- 								       	<tr> -->
<!-- 						        			<td colspan="3" class="detailsTableColSpan"> -->
<!-- 						        				<hr/> -->
<!-- 						        			</td> -->
<!-- 						        		</tr> -->
<!-- 						        		<tr> -->
<!-- 						        			<td colspan="3" class="detailsTableColSpan"> -->
<!-- 						        				{{ 'street_occupied_slots' | i18n }} -->
<!-- 						        			</td> -->
<!-- 						        		</tr> -->
<!-- 										<tr> -->
<!-- 											<td class="detailsTableSX">{{ 'street_freepark_slot_signed_occupied_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp; -->
<!-- 												<span ng-show="sDetails.freeParkSlotSignOccupied > 0">{{ sDetails.freeParkSlotSignOccupied }}</span> -->
<!-- 												<span ng-show="sDetails.freeParkSlotSignOccupied == 0">{{ sDetails.freeParkSlotOccupied }}</span> -->
<!-- 											</td> -->
<!-- 										</tr> -->
<!-- 										<tr> -->
<!-- 											<td class="detailsTableSX">{{ 'street_paid_slot_occupied_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp;{{ sDetails.paidSlotOccupied }}</td> -->
<!-- 										</tr> -->
<!-- 										<tr ng-show="s_timedSlot.visible"> -->
<!-- 											<td class="detailsTableSX">{{ 'street_timedpark_slot_occupied_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp;{{ sDetails.timedParkSlotOccupied }}</td> -->
<!-- 										</tr> -->
<!-- 										<tr ng-show="s_handicappedSlot.visible"> -->
<!-- 											<td class="detailsTableSX">{{ 'street_handicapped_slot_occupied_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp;{{ sDetails.handicappedSlotOccupied }}</td> -->
<!-- 										</tr> -->
<!-- 										<tr> -->
<!-- 											<td class="detailsTableSX">{{ 'street_reserved_slot_occupied_db' | i18n }}:</td> -->
<!-- 											<td class="detailsTableCX"></td> -->
<!-- 											<td class="detailsTableDX">&nbsp;{{ sDetails.reservedSlotOccupied }}</td> -->
<!-- 										</tr> -->
<!-- 										        <div google-chart chart="chartStreetOccupiedParkComposition" style="{{chart.cssStyle}}"/> -->
<!-- 								    </table> -->
				</div>
				<div ng-show="isZoneDetShow()">
					<table width="100%">
						<tr>
							<td width="40%" valign="top">
								<table width="100%">
									<tr>
										<td class="detailsListTableCXS"></td>
										<td class="detailsListTableSXS">{{ 'zone_name' | i18n }}:</td>
										<td class="detailsListTableCXS"></td>
										<td class="detailsListTableDXS">{{ zDetails.name }} - {{ zDetails.submacro }}</td>
										<td class="detailsListTableCXS"></td>
									</tr>
									<tr>
							        	<td class="detailsListTableCXS"></td>
								        <td colspan="3" class="detailsTableColSpanS">
								        	<hr/>
								        </td>
								        <td class="detailsListTableCXS"></td>
								    </tr>
							   		<tr>
							   			<td class="detailsListTableCXS"></td>
							   			<td colspan="3" class="detailsTableColSpanLeftS">
							   				{{ 'street_slots' | i18n }}
							   			</td>
							   			<td class="detailsListTableCXS"></td>
							   		</tr>
									<tr>
										<td class="detailsListTableCXS"></td>
										<td class="detailsListTableSXS">{{ 'zone_total_slots' | i18n }}:</td>
										<td class="detailsListTableCXS"></td>
										<td class="detailsListTableDXS">{{ zDetails.slotNumber }}</td>
										<td class="detailsListTableCXS"></td>
									</tr>
									<tr>
										<td class="detailsListTableCXS"></td>
									   	<td class="detailsListTableSXS">{{ 'zone_occupied_slots' | i18n }}:</td>
									   	<td class="detailsListTableCXS"></td>
									   	<td class="detailsListTableDXS">
									   		<span ng-show="isCorrectNumber(zDetails.slotOccupied)">{{ zDetails.slotOccupied }}</span>
									   		<span ng-show="!isCorrectNumber(zDetails.slotOccupied)">n.p.</span>
									   	</td>
									   	<td class="detailsListTableCXS"></td>
									</tr>
								</table>
							</td>
							<td width="60%" valign="top">
								<div google-chart chart="chartZoneOccupancy" style="{{chart.cssStyle}}" ng-show="isCorrectNumber(zDetails.slotOccupied)" />
							</td>
						</tr>
					</table>
					
				</div>
				<div ng-show="isAreaDetShow()">
					<table width="100%">
						<tr>
							<td width="40%">
								<table width="100%">	
							        <tr>	
							        	<td class="detailsListTableCXS"></td>
										<td class="detailsListTableSXS">{{ 'area_name' | i18n }}:</td>
										<td class="detailsListTableCXS"></td>
										<td class="detailsListTableDXS">{{ aDetails.name }}</td>
										<td class="detailsListTableCXS"></td>
									</tr>
									<tr ng-show="a_fee.visible">
										<td class="detailsListTableCXS"></td>
										<td class="detailsListTableSXS">{{ 'area_rate' | i18n }}:</td>
										<td class="detailsListTableCXS"></td>
										<td class="detailsListTableDXS">{{ aDetails.fee }} Euro/ora</td>
										<td class="detailsListTableCXS"></td>
									</tr>
									<tr>
							        	<td class="detailsListTableCXS"></td>
								        <td colspan="3" class="detailsTableColSpanS">
								        	<hr/>
								        </td>
								        <td class="detailsListTableCXS"></td>
								    </tr>
							   		<tr>
							   			<td class="detailsListTableCXS"></td>
							   			<td colspan="3" class="detailsTableColSpanLeftS">
							   				{{ 'street_slots' | i18n }}
							   			</td>
							   			<td class="detailsListTableCXS"></td>
							   		</tr>
									<tr>
										<td class="detailsListTableCXS"></td>
										<td class="detailsListTableSXS">{{ 'area_total_slots' | i18n }}:</td>
										<td class="detailsListTableCXS"></td>
										<td class="detailsListTableDXS">{{ aDetails.slotNumber }}</td>
										<td class="detailsListTableCXS"></td>
									</tr>
									<tr>
										<td class="detailsListTableCXS"></td>
									   	<td class="detailsListTableSXS">{{ 'area_occupied_slots' | i18n }}:</td>
									   	<td class="detailsListTableCXS"></td>
									   	<td class="detailsListTableDXS">
									   		<span ng-show="isCorrectNumber(aDetails.slotOccupied)">{{ aDetails.slotOccupied }}</span>
									   		<span ng-show="!isCorrectNumber(aDetails.slotOccupied)">n.p.</span>
									   	</td>
									   	<td class="detailsListTableCXS"></td>
									</tr>
								</table>
							</td>
							<td width="60%">
								<div google-chart chart="chartAreaOccupancy" style="{{chart.cssStyle}}" ng-show="isCorrectNumber(aDetails.slotOccupied)" /> 
							</td>
						</tr>
					</table>
				</div>        
			</div>
	</div>
	
</div>