<div class="row">
	<div ng-show="!editModeZ"><!--  && !viewModeZ -->
		<div class="col-md-6"><!--  ng-show="zoneMapReady"  -->
<!-- 			<ui-gmap-google-map id="50" center="zoneMap.center" draggable="true" zoom="zoneMap.zoom" options="options" control="zoneMap.control" bounds="zoneMap.bounds">refresh="map.refresh"  options="map.options" events="events" -->
<!-- 				<ui-gmap-polygon static="true" ng-repeat="z in zone_polygons track by z.id" path="z.path" stroke="z.stroke" visible="z.visible" geodesic="z.geodesic" fill="z.fill" fit="false" editable="z.editable" draggable="z.draggable"></ui-gmap-polygon> -->
<!-- 			</ui-gmap-google-map> -->

			<map id="viewZone" class="angular-google-map-container" center="{{ mapOption.center }}" zoom="{{ mapOption.zoom }}" width="100%" ><!-- ng-show="resizeMap()" -->
				<shape name="polygon" ng-repeat="z in zone_polygons" id="{{ z.id }}" path="{{ z.gpath }}" visible="{{ z.visible }}"
         			geodesic="{{ z.geodesic }}" stroke-color="{{ z.stroke.color }}" stroke-opacity="1.0" stroke-weight="{{ z.stroke.weight }}"
         			fill-color="{{ z.fill.color }}" fill-opacity="{{ z.fill.opacity }}" on-click="showInfoWindow(event, z.info_windows_cod)">
     				<info-window id="{{ z.info_windows_cod }}" data-position="{{ z.info_windows_pos }}" visible-on-marker="{{ z.id }}">
						<div ng-non-bindable="">
						   	<div id="siteNotice"></div>
						   	<h4 id="firstHeading" class="firstHeading"><span ng-show="zone_name.visible">{{ z.data.name }}</span></h4>
					        <div id="bodyContent">
					        	<table>
					        		<tr ng-show="zone_submacro.visible">
					        			<td><strong>{{ 'zone_submacro' | i18n }}:</strong></td>
					        			<td>&nbsp;{{ z.data.submacro }}</td>
					        		</tr>
					        		<tr ng-show="zone_type.visible">
					        			<td><strong>{{ 'zone_type' | i18n }}:</strong></td>
					        			<td>&nbsp;{{ z.data.type }}</td>
					        		</tr>
									<tr ng-show="zone_note.visible">
					        			<td><strong>{{ 'zone_note' | i18n }}:</strong></td>
					        			<td>&nbsp;{{ z.data.note }}</td>
					        		</tr>
					        		<tr ng-show="zone_color.visible">	
										<td><strong>{{ 'zone_color' | i18n }}</strong></td>
										<td><span class="colorBox" ng-style="{'background-color': correctColor(z.data.color)}"></span></td>
									</tr>
					        	</table>
					        </div>
				        </div>
				    </info-window>
    			</shape>
    			<shape name="polygon" ng-repeat="z in mySpecialZones" id="{{ z.id }}" path="{{ z.gpath }}" visible="{{ z.visible }}"
         			geodesic="{{ z.geodesic }}" stroke-color="{{ z.stroke.color }}" stroke-opacity="1.0" stroke-weight="{{ z.stroke.weight }}"
         			fill-color="{{ z.fill.color }}" fill-opacity="{{ z.fill.opacity }}" on-click="showInfoWindow(event, z.info_windows_cod)">
     				<info-window id="{{ z.info_windows_cod }}" data-position="{{ z.info_windows_pos }}" visible-on-marker="{{ z.id }}">
						<div ng-non-bindable="">
						   	<div id="siteNotice"></div>
						   	<h4 id="firstHeading" class="firstHeading"><span ng-show="zone_name.visible">{{ z.data.name }}</span></h4>
					        <div id="bodyContent">
					        	<table>
					        		<tr ng-show="zone_submacro.visible">
					        			<td><strong>{{ 'zone_submacro' | i18n }}:</strong></td>
					        			<td>&nbsp;{{ z.data.submacro }}</td>
					        		</tr>
					        		<tr ng-show="zone_type.visible">
					        			<td><strong>{{ 'zone_type' | i18n }}:</strong></td>
					        			<td>&nbsp;{{ z.data.type }}</td>
					        		</tr>
									<tr ng-show="zone_note.visible">
					        			<td><strong>{{ 'zone_note' | i18n }}:</strong></td>
					        			<td>&nbsp;{{ z.data.note }}</td>
					        		</tr>
					        		<tr ng-show="zone_color.visible">	
										<td><strong>{{ 'zone_color' | i18n }}</strong></td>
										<td><span class="colorBox" ng-style="{'background-color': correctColor(z.data.color)}"></span></td>
									</tr>
					        	</table>
					        </div>
				        </div>
				    </info-window>
    			</shape>
			</map>
		</div>
<!-- 		<div class="col-md-6" ng-show="!zoneMapReady"> -->
<!-- 			<div style="text-align: center"> -->
<!-- 				<img src="imgs/ajax-loader.gif" width="40" height="40" /><br> -->
<!-- 				<h3>{{ 'loading_text' | i18n }}...</h3> -->
<!-- 			</div> -->
<!-- 		</div> -->
		<div class="col-md-6" ng-show="!viewModeZ">
			<div class="panel panel-success" align="center">
				<div class="panel-heading">
					<table width="100%">
						<tr>
							<td align="left"><h5 class="panel-title">{{ 'zone_list' | i18n }}</h5></td>
							<td align="right"><button type="button" class="btn btn-success" ng-click="setZEdit(null)">{{ 'add_new_object' | i18n }}</button></td>
						</tr>
					</table>
<!-- 					<h5 class="panel-title">{{ 'zone_list' | i18n }}&nbsp; &nbsp; <button type="button" class="btn btn-success btn-xs" ng-click="setZEdit(null)"><i class="glyphicon glyphicon-plus"></i></button></h5> -->
				</div>
				<div class="panel-body">
					<div class="field-error" ng-show="showDeletingZErrorMessage">{{ 'err_in_delete_zone' | i18n }}</div>
					<div class="tablewrapper">
						<table class="table table-striped" style="width: 100%">
							<tr ng-show="zoneWS.length != 0">
								<th width="45%">
									<span ng-show="zone_name.visible">{{ 'zone_name' | i18n }}</span>&nbsp;
									<a href ng-click="showZoneNameFilter();currentPageZ=0" ng-show="!showZoneFilter" alt="{{ 'filter_name_title' | i18n }}" title="{{ 'filter_name_title' | i18n }}"><i class="glyphicon glyphicon-filter"></i></a>
									<a href ng-click="nameFilter=null;hideZoneNameFilter()" ng-show="showZoneFilter" alt="{{ 'filter_name_title' | i18n }}" title="{{ 'filter_name_title' | i18n }}"><i class="glyphicon glyphicon-remove"></i></a>
									<div ng-show="showZoneFilter">
						    	 		<input type="search" ng-model="nameFilter" placeholder="{{ 'filter_name_text' | i18n }}" />
						    		</div>
								</th>
								<th width="20%" class="myCenter"><span ng-show="zone_submacro.visible">{{ 'zone_submacro' | i18n }}</span></th>
								<th width="15%"><span ng-show="zone_color.visible">{{ 'zone_color' | i18n }}</span></th>
								<th width="20%" class="myCenter">{{ 'operations' | i18n }}</th>
							</tr>
							<tbody class="animate-repeat"
								ng-repeat="zone in zoneWS | filter:nameFilter | orderBy: ['name', 'submacro'] |  startFrom:currentPageZ*maxZones | limitTo:maxZones">
				<!--			ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPageZ*maxPractices | limitTo:maxPractices"> -->
								<tr>
									<td width="45%" align="left"><span ng-show="zone_name.visible">{{zone.name}}</span></td>
									<td width="20%" align="center"><span ng-show="zone_submacro.visible">{{zone.submacro}}</span></td>
									<td width="15%" align="center"><div class="colorBox" ng-show="zone_color.visible" ng-style="{'background-color': correctColor(zone.color)}"></div></td>
									<td width="20%" align="center">
										<a href type="button" class="btn btn-primary btn-xs" ng-click="setZDetails(zone)" alt="{{ 'link_view_title' | i18n }}" title="{{ 'link_view_title' | i18n }}"><i class="glyphicon glyphicon-eye-open"></i></a>&nbsp;
										<a href type="button" class="btn btn-primary btn-xs" ng-click="setZEdit(zone)"  alt="{{ 'link_edit_title' | i18n }}" title="{{ 'link_edit_title' | i18n }}"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
										<a href type="button" class="btn btn-primary btn-xs" ng-click="setZRemove(zone)"  alt="{{ 'link_remove_title' | i18n }}" title="{{ 'link_remove_title' | i18n }}"><i class="glyphicon glyphicon-trash"></i></a>
									</td>
								</tr>
							</tbody>
							<tr ng-show="zoneWS.length == 0">
								<td colspan="5"><strong>{{ 'no_zones_in_lists' | i18n }}</strong></td>
							</tr>
						</table>
					</div>
					<button class="btn btn-default"
							ng-disabled="currentPageZ == 0"
							ng-click="currentPageZ=currentPageZ-1">{{ 'previous_label' | i18n }}</button>
						{{currentPageZ+1}}/{{numberOfPages(5)}}
					<button class="btn btn-default"
							ng-disabled="currentPageZ >= zoneWS.length/maxZones - 1"
							ng-click="currentPageZ=currentPageZ+1">{{ 'next_label' | i18n }}</button>
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-show="viewModeZ">
			<div class="panel panel-default" width="90%">
		   		<div class="panel-heading">
		    		<h3 class="panel-title"><strong>{{ 'view_zone' | i18n }}</strong></h3>
		  		</div>
		  		<div class="panel-body">	
		  			<table width="100%">
						<tr ng-show="zone_name.visible">
							<td class="detailsViewZoneSX">{{ 'zone_name' | i18n }}:</td>
							<td class="detailsViewZoneDX">{{ viewZone.name }}</td>
						</tr>
						<tr ng-show="zone_submacro.visible">	
							<td class="detailsViewZoneSX">{{ 'zone_submacro' | i18n }}:</td>
							<td class="detailsViewZoneDX">{{ viewZone.submacro }}</td>
						</tr>
						<tr ng-show="zone_type.visible">	
							<td class="detailsViewZoneSX">{{ 'zone_type' | i18n }}:</td>
							<td class="detailsViewZoneDX">{{ viewZone.type }}</td>
						</tr>
						<tr ng-show="zone_note.visible">	
							<td class="detailsViewZoneSX">{{ 'zone_note' | i18n }}:</td>
							<td class="detailsViewZoneDX">{{ viewZone.note }}</td>
						</tr>
						<tr ng-show="zone_color.visible">	
							<td class="detailsViewZoneSX">{{ 'zone_color' | i18n }}</td>
							<td class="detailsViewZoneDX"><span class="colorBox" ng-style="{'background-color': correctColor(viewZone.color)}"></span></td>
						</tr>
			   		</table>
			   		<hr>
				   	<table width="95%">			
						<tr>
							<td width="70%" align="right">
							<td width="15%" align="left">
								<button type="button" class="btn btn-default btn-lg" ng-click="closeZView()">{{ 'text_btn_close' | i18n  }}</button>	
							</td>
							<td width="15%" align="left">
								<button type="button" class="btn btn-primary btn-lg" ng-click="setZEdit(viewZone)">{{ 'text_btn_edit' | i18n  }}</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="editModeZ">
		<div class="col-md-12">
			<form role="form" name="form">
				<div class="panel panel-default" width="90%">
			    	<h3 class="panel-title"><strong>{{ 'edit_zone' | i18n }}</strong></h3>
			  		<div class="panel-body">
			  			<div class="col-md-12" ><!-- id="map_canvas" ng-show="!isEditing" -->
	<!-- 						<ui-gmap-google-map id="51" center="zCreateMap.center" draggable="true" zoom="zCreateMap.zoom" options="zCreateMap.options" control="zCreateMap.control" bounds="zCreateMap.bounds" events="zCreateMap.events"> -->
	<!-- 							<ui-gmap-polygon static="false" path="newZone.path" stroke="newZone.stroke" visible="newZone.visible" geodesic="newZone.geodesic" fill="newZone.fill" fit="false" editable="newZone.editable" draggable="newZone.draggable"></ui-gmap-polygon> -->
	<!-- 						</ui-gmap-google-map> -->
							<map id="editZone" center="{{ mapOption.center }}" zoom="{{ mapOption.zoom }}" width="100%" style="height: 400px" on-click="addZonePath()" ><!-- ng-show="resizeMap()" -->
								<shape name="polygon" id="editZPolygon" path="{{ editGZone.gpath }}" visible="{{ editGZone.visible }}" editable="{{ editGZone.editable }}"
				         			geodesic="{{ editGZone.geodesic }}" stroke-color="{{ editGZone.stroke.color }}" stroke-opacity="1.0" stroke-weight="{{ editGZone.stroke.weight }}"
				         			fill-color="{{ editGZone.fill.color }}" fill-opacity="{{ editGZone.fill.opacity }}">
				    			</shape>
							</map>
						</div>
						<div class="form-group">
					    	<label for="geometryN" ng-show="zone_geometry.visible">{{ 'zone_geometry' | i18n }}</label>
					    	<input id="geometryN" type="text" class="form-control" name="zGeometry" ng-model="myPolGeometry" ng-show="zone_geometry.visible" ng-required="zone_geometry.required" >
					   		<div class="field-error" ng-show="!isInit && form.zGeometry.$error.pattern">{{ 'zone_geometry_err_pattern' | i18n }}</div>
					   		<div class="field-error" ng-show="!isInit && form.zGeometry.$error.required">{{ 'zone_geometry_err_required' | i18n }}</div>
						</div>
					   	<div class="form-group" ng-show="zone_name.visible">
					    	<label for="name">{{ 'zone_name' | i18n }}</label>
					    	<input id="name" type="text" class="form-control" name="zName" ng-model="zone.name" ng-required="zone_name.required" placeholder="{{ 'zone_name_placeholder' | i18n }}" >
					   		<div class="field-error" ng-show="!isInit && form.zName.$error.required">{{ 'zone_name_err_required' | i18n }}</div>
					   	</div>
					   	<div class="form-group" ng-show="zone_submacro.visible">
					    	<label for="submacro">{{ 'zone_submacro' | i18n }}</label>
					    	<input id="submacro" type="text" class="form-control" name="zSub" ng-model="zone.submacro" ng-required="zone_submacro.required" placeholder="{{ 'zone_submacro_placeholder' | i18n }}" >
					   		<div class="field-error" ng-show="!isInit && form.zSub.$error.required">{{ 'zone_submacro_err_required' | i18n }}</div>
					   	</div>
					   	<div class="form-group" ng-show="zone_type.visible">
					    	<label for="type">{{ 'zone_type' | i18n }}</label>
					    	<input id="type" type="text" class="form-control" name="zType" ng-model="zone.type" ng-required="zone_type.required" placeholder="{{ 'zone_type_placeholder' | i18n }}" >
					   		<div class="field-error" ng-show="!isInit && form.zType.$error.required">{{ 'zone_type_err_required' | i18n }}</div>
					   	</div>
					   	<div class="form-group" ng-show="zone_note.visible">
					    	<label for="note">{{ 'zone_note' | i18n }}</label>
					    	<input id="note" type="text" class="form-control" name="zNote" ng-model="zone.note" ng-required="zone_note.required" placeholder="{{ 'zone_note_placeholder' | i18n }}" >
					   		<div class="field-error" ng-show="!isInit && form.zNote.$error.required">{{ 'zone_note_err_required' | i18n }}</div>
					   	</div>
					   	<div class="form-group" ng-show="zone_color.visible">
					    	<label for="color">{{ 'zone_color' | i18n }}</label>
					    	<input id="color" colorpicker="hex" colorpicker-with-input="true" type="text" class="form-control" name="zColor" ng-model="myColor" ng-required="zone_color.required" placeholder="{{ 'zone_color_placeholder' | i18n }}" >
					    	<div class="field-error" ng-show="!isInit && form.zColor.$error.required">{{ 'zone_color_err_required' | i18n }}</div>
					   	</div>
					   	
	<!-- 					<div class="form-group" ng-show="isEditing"> -->
	<!-- 				    	<label for="geometry">{{ 'zone_geometry' | i18n }}</label> -->
	<!-- 				    	<input id="geometry" type="text" class="form-control" name="zGeometry" ng-model="myPolGeometry" ng-required="false" >ng-pattern="gpsPos" -->
	<!-- 				   		<div class="field-error" ng-show="!isInit && form.zGeometry.$error.pattern">{{ 'zone_geometry_err_pattern' | i18n }}</div> -->
	<!-- 					</div> -->
	<!-- 					<div class="col-md-12" ng-show="isEditing"> -->
	<!-- 						<ui-gmap-google-map id="52" center="zEditMap.center" draggable="true" zoom="zEditMap.zoom" options="zEditMap.options" control="zEditMap.control" bounds="zEditMap.bounds"> -->
	<!-- 								<ui-gmap-polygon  static="false" path="editZone.path" stroke="editZone.stroke" visible="editZone.visible" fill="editZone.fill" -->
	<!-- 	              					geodesic='editZone.geodesic' fit="false" editable="editZone.editable" draggable="editZone.draggable" events="editZone.events"></ui-gmap-polygon>	 -->
	<!-- 						</ui-gmap-google-map> -->
	<!-- 					</div> -->
					</div>
					<div class="field-error" ng-show="showUpdatingZErrorMessage">{{ 'err_in_update_zone' | i18n }}</div>
			   		<table width="95%">			
					   	<tr>
					   		<td width="85%"></td>
					   		<td width="8%" align="center">
					   			<button type="button" class="btn btn-default btn-lg" ng-click="closeZView()">{{ 'text_btn_close' | i18n  }}</button>
					   		</td>
					   		<td width="7%" align="right">
					   			<button type="button" class="btn btn-primary btn-lg" ng-click="updateZone(form, zone, myColor)" ng-show="isEditing">{{ 'text_btn_save' | i18n  }}</button><!-- editZone -->
					   			<button type="button" class="btn btn-primary btn-lg" ng-click="createZone(form, zone, myColor)" ng-show="!isEditing">{{ 'text_btn_save' | i18n  }}</button><!-- newZone -->
					   		</td>
						</tr>
						<tr>
							<td colspan="3">&nbsp;</td>
						</tr>
					</table>
			   	</div>
		   	</form>
	   	</div>
	</div>
</div>