<div class="row">
	<div ng-show="!editModeA"><!-- && !viewModeA -->
		<div class="col-md-6" ><!-- id="map_canvas" ng-show="areaMapReady" -->
<!-- 			<ui-gmap-google-map id="10" center="areaMap.center" draggable="true" zoom="areaMap.zoom" options="options" control="areaMap.control" bounds="areaMap.bounds"> -->
<!-- 				<ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polygon> -->
<!-- 			</ui-gmap-google-map> -->

			<map id="viewArea" center="{{ mapOption.center }}" zoom="{{ mapOption.zoom }}" width="100%" style="height: 500px" ><!-- ng-show="resizeMap()" -->
				<shape name="polygon" ng-repeat="a in polygons" id="{{ a.id }}" path="{{ a.gpath }}" visible="{{ a.visible }}"
         			geodesic="{{ a.geodesic }}" stroke-color="{{ a.stroke.color }}" stroke-opacity="1.0" stroke-weight="{{ a.stroke.weight }}"
         			fill-color="{{ a.fill.color }}" fill-opacity="{{ a.fill.opacity }}" on-click="showInfoWindow(event, a.info_windows_cod)">
     				<info-window id="{{ a.info_windows_cod }}" data-position="{{ a.info_windows_pos }}" visible-on-marker="{{ a.id }}">
				        <div ng-non-bindable="">
				          	<div id="siteNotice"></div>
				          	<h4 id="firstHeading" class="firstHeading">{{ a.data.name }}</h4>
					        <div id="bodyContent">
					        	<table>
									<tr>	
										<td width="45%"><strong>{{ 'area_rate' | i18n }}:</strong></td>
										<td width="55%">{{ a.data.fee }}</td>
									</tr>
									<tr>	
										<td><strong>{{ 'area_time' | i18n }}:</strong></td>
										<td>{{ a.data.timeSlot }}</td>
									</tr>
									<tr>	
										<td><strong>{{ 'area_sms' | i18n }}:</strong></td>
										<td>{{ a.data.smsCode }}</td>
									</tr>
									<tr>	
										<td><strong>{{ 'area_color' | i18n }}</strong></td>
										<td><span class="colorBox" ng-style="{'background-color': correctColor(a.data.color)}"></span></td>
									</tr>
					        	</table>
					        </div>
				        </div>
				    </info-window>
    			</shape>
    			<shape name="polygon" ng-repeat="a in mySpecialAreas" id="{{ a.id }}" path="{{ a.gpath }}" visible="{{ a.visible }}"
         			geodesic="{{ a.geodesic }}" stroke-color="{{ a.stroke.color }}" stroke-opacity="1.0" stroke-weight="{{ a.stroke.weight }}"
         			fill-color="{{ a.fill.color }}" fill-opacity="{{ a.fill.opacity }}" on-click="showInfoWindow(event, a.info_windows_cod)">
     				<info-window id="{{ a.info_windows_cod }}" data-position="{{ a.info_windows_pos }}" visible-on-marker="{{ a.id }}">
				        <div ng-non-bindable="">
				          	<div id="siteNotice"></div>
				          	<h4 id="firstHeading" class="firstHeading">{{ a.data.name }}</h4>
					        <div id="bodyContent">
					        	<table>
									<tr>	
										<td width="45%"><strong>{{ 'area_rate' | i18n }}:</strong></td>
										<td width="55%">{{ a.data.fee }}</td>
									</tr>
									<tr>	
										<td><strong>{{ 'area_time' | i18n }}:</strong></td>
										<td>{{ a.data.timeSlot }}</td>
									</tr>
									<tr>	
										<td><strong>{{ 'area_sms' | i18n }}:</strong></td>
										<td>{{ a.data.smsCode }}</td>
									</tr>
									<tr>	
										<td><strong>{{ 'area_color' | i18n }}</strong></td>
										<td><span class="colorBox" ng-style="{'background-color': correctColor(a.data.color)}"></span></td>
									</tr>
					        	</table>
					        </div>
				        </div>
				    </info-window>
    			</shape>
			</map>	
		</div>
<!-- 		<div class="col-md-6" ng-show="!areaMapReady"> -->
<!-- 			<div style="text-align: center"> -->
<!-- 				<img src="imgs/ajax-loader.gif" width="40" height="40" /><br> -->
<!-- 				<h3>{{ 'loading_text' | i18n }}...</h3> -->
<!-- 			</div> -->
<!-- 		</div> -->
		<div class="col-md-6" ng-show="!viewModeA">
			<div class="panel panel-success" align="center">
				<div class="panel-heading">
					<h5 class="panel-title">{{ 'area_list' | i18n }}&nbsp; &nbsp; <button type="button" class="btn btn-success" ng-click="setAEdit(null)"><i class="glyphicon glyphicon-plus"></i></button></h5>
				</div>
				<div class="panel-body">
					<div class="alert alert-danger" ng-show="showDeletingAErrorMessage">{{ 'err_in_delete_area' | i18n }}</div>
					<table class="table table-striped" style="width: 100%">
						<tr ng-show="areaWS.length != 0">
							<th width="25%">{{ 'area_name' | i18n }}</th>
							<th width="14%">{{ 'area_rate' | i18n }}</th>
							<th width="31%">{{ 'area_time' | i18n }}</th>
							<th width="5%">{{ 'area_color' | i18n }}</th>
							<th width="25%">{{ 'operations' | i18n }}</th>
						</tr>
						<tbody class="animate-repeat"
							ng-repeat="area in areaWS | filter:q | orderBy:'name' | startFrom:currentPage*maxAreas | limitTo:maxAreas">
		<!-- 					ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
							<tr>
								<td width="25%" align="left">{{area.name}}</td>
								<td width="14%" align="left">{{area.fee}}</td>
								<td width="31%" align="center">{{area.timeSlot}}</td>
								<td width="5%" align="center"><div class="colorBox" ng-style="{'background-color': correctColor(area.color)}"></div></td><!-- {{area.color}} -->
								<td width="25%" align="left">
									<a href ng-click="setADetails(area)" alt="{{ 'link_view_title' | i18n }}" title="{{ 'link_view_title' | i18n }}"><i class="glyphicon glyphicon-eye-open"></i></a>&nbsp;
									<a href ng-click="setAEdit(area)"  alt="{{ 'link_edit_title' | i18n }}" title="{{ 'link_edit_title' | i18n }}"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
									<a href ng-click="setARemove(area)" alt="{{ 'link_remove_title' | i18n }}" title="{{ 'link_remove_title' | i18n }}"><i class="glyphicon glyphicon-trash"></i></a>
								</td>
							</tr>
						</tbody>
						<tr ng-show="areaWS.length == 0">
							<td colspan="5"><strong>{{ 'no_areas_in_lists' | i18n }}</strong></td>
						</tr>
					</table>
					<button class="btn btn-success"
							ng-disabled="currentPage == 0"
							ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
						{{currentPage+1}}/{{numberOfPages(1)}}
					<button class="btn btn-success"
							ng-disabled="currentPage >= areaWS.length/maxAreas - 1"
							ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-show="viewModeA">
			<div class="panel panel-default" width="90%">
		   		<div class="panel-heading">
		    		<h3 class="panel-title"><strong>{{ 'view_area' | i18n }}</strong></h3>
		  		</div>
		  		<div class="panel-body">	
		  			<table width="100%">
						<tr>
							<td width="45%"><strong>{{ 'area_name' | i18n }}:</strong></td>
							<td width="55%">{{ area.name }}</td>
						</tr>
						<tr>	
							<td><strong>{{ 'area_rate' | i18n }}:</strong></td>
							<td>{{ area.fee }}</td>
						</tr>
						<tr>	
							<td><strong>{{ 'area_time' | i18n }}:</strong></td>
							<td>{{ area.timeSlot }}</td>
						</tr>
						<tr>	
							<td><strong>{{ 'area_sms' | i18n }}:</strong></td>
							<td>{{ area.smsCode }}</td>
						</tr>
						<tr>	
							<td><strong>{{ 'area_color' | i18n }}</strong></td>
							<td><span class="colorBox" ng-style="{'background-color': correctColor(area.color)}"></span></td>
						</tr>
			   		</table>
			   		<hr>
				   	<table width="95%">			
						<tr>
							<td width="50%" align="right">
								<button type="button" class="btn btn-default btn-lg" ng-click="closeAView()">{{ 'text_btn_close' | i18n  }}</button>	
							</td>
							<td width="50%" align="left">
								<button type="button" class="btn btn-default btn-lg" ng-click="setAEdit(area)">{{ 'text_btn_edit' | i18n  }}</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="editModeA">
		<form role="form" name="form">
			<div class="panel panel-default" width="90%">
		   		<div class="panel-heading">
		    		<h3 class="panel-title"><strong>{{ 'edit_area' | i18n }}</strong></h3>
		  		</div>
		  		<div class="panel-body">
		  			<div class="col-md-12"><!-- id="map_canvas" ng-show="!isEditing" -->
<!-- 						<ui-gmap-google-map id="11" center="aCreateMap.center" draggable="true" zoom="aCreateMap.zoom" options="aCreateMap.options" control="aCreateMap.control" bounds="aCreateMap.bounds" events="aCreateMap.events"> -->
<!-- 							<ui-gmap-polygon static="false" path="newArea.path" stroke="newArea.stroke" visible="newArea.visible" geodesic="newArea.geodesic" fill="newArea.fill" fit="false" editable="newArea.editable" draggable="newArea.draggable"></ui-gmap-polygon> -->
<!-- 						</ui-gmap-google-map> -->
						<map id="editArea" center="{{ mapOption.center }}" zoom="{{ mapOption.zoom }}" width="100%" style="height: 400px" on-click="addAreaPath()" ><!-- ng-show="resizeMap()" -->
							<shape name="polygon" id="editAPolygon" path="{{ editGArea.gpath }}" visible="{{ editGArea.visible }}" editable="{{ editGArea.editable }}"
			         			geodesic="{{ editGArea.geodesic }}" stroke-color="{{ editGArea.stroke.color }}" stroke-opacity="1.0" stroke-weight="{{ editGArea.stroke.weight }}"
			         			fill-color="{{ editGArea.fill.color }}" fill-opacity="{{ editGArea.fill.opacity }}">
			    			</shape>
						</map>
					</div>
					<div class="form-group" ng-show="a_geometry.visible" >
				    	<label for="geometryN">{{ 'area_geometry' | i18n }}</label>
				    	<input id="geometryN" type="text" class="form-control" name="aGeometry" ng-model="myPolGeometry" ng-required="a_geometry.required" >
				   		<div class="alert alert-danger" ng-show="!isInit && form.aGeometry.$error.pattern">{{ 'area_geometry_err_pattern' | i18n }}</div>
					</div>
				   	<div class="form-group" ng-show="a_name.visible">
				    	<label for="name">{{ 'area_name' | i18n }}</label>
				    	<input id="name" type="text" class="form-control" name="aName" ng-model="area.name" ng-required="a_name.required" placeholder="{{ 'area_name_placeholder' | i18n }}" >
				   		<div class="alert alert-danger" ng-show="!isInit && form.aName.$error.required">{{ 'area_name_err_required' | i18n }}</div>
				   	</div>
				   	<div class="form-group" ng-show="a_fee.visible">
				    	<label for="fee">{{ 'area_rate' | i18n }}</label>
				    	<input id="fee" type="text" class="form-control" name="aFee" ng-model="area.fee" ng-required="a_fee.required" ng-pattern="decimalNumbers" placeholder="{{ 'area_fee_placeholder' | i18n }}" >
				   		<div class="alert alert-danger" ng-show="!isInit && form.aFee.$error.required">{{ 'area_fee_err_required' | i18n }}</div>
				   		<div class="alert alert-danger" ng-show="!isInit && form.aFee.$error.pattern">{{ 'area_fee_err_pattern' | i18n }}</div>
				   	</div>
				   	<div class="form-group" ng-show="a_timeSlot.visible">
				    	<label for="time">{{ 'area_time' | i18n }}</label>
				    	<input id="time" type="text" class="form-control" name="aTime" ng-model="area.timeSlot" ng-required="a_timeSlot.required" ng-pattern="periodPattern" placeholder="{{ 'area_time_placeholder' | i18n }}" >
				   		<div class="alert alert-danger" ng-show="!isInit && form.aTime.$error.required">{{ 'area_openingtime_err_required' | i18n }}</div>
				   		<div class="alert alert-danger" ng-show="!isInit && form.aTime.$error.pattern">{{ 'area_openingtime_err_pattern' | i18n }}</div>
				   	</div>
				   	<div class="form-group" ng-show="a_smsCode.visible">
				    	<label for="sms">{{ 'area_sms' | i18n }}</label>
				    	<input id="sms" type="text" class="form-control" name="aSms" ng-model="area.smsCode" ng-required="a_smsCode.required"  placeholder="{{ 'area_sms_placeholder' | i18n }}" >
				   		<div class="alert alert-danger" ng-show="!isInit && form.aSms.$error.required">{{ 'area_smscode_err_required' | i18n }}</div>
				   	</div>
				   	<div class="form-group" ng-show="a_color.visible">
				    	<label for="color">{{ 'area_color' | i18n }}</label>
				    	<input id="color" colorpicker="hex" colorpicker-with-input="true" type="text" class="form-control" name="aColor" ng-model="myColor" ng-required="a_color.required" placeholder="{{ 'area_color_placeholder' | i18n }}" >
				    	<div class="alert alert-danger" ng-show="!isInit && form.aColor.$error.required">{{ 'area_color_err_required' | i18n }}</div>
				   	</div>
				</div>
				<div class="alert alert-danger" ng-show="showUpdatingAErrorMessage">{{ 'err_in_update_area' | i18n }}</div>
		   		<table width="95%">			
				   	<tr>
				   		<td width="34%"></td>
				   		<td width="32%" align="center">
							<button type="button" class="btn btn-default btn-lg" ng-click="closeAView()">{{ 'text_btn_close' | i18n  }}</button>	
						</td>
				   		<td width="34%" align="right">
				   			<button type="button" class="btn btn-default btn-lg" ng-click="updateArea(form, myColor)" ng-show="isEditing">{{ 'text_btn_save' | i18n  }}</button><!-- , editArea -->
				   			<button type="button" class="btn btn-default btn-lg" ng-click="createArea(form, myColor)" ng-show="!isEditing">{{ 'text_btn_save' | i18n  }}</button>
				   		</td>
					</tr>
				</table>
		   	</div>
	   	</form>
	</div>
<!-- 	<div ng-show="viewModeA"> -->
<!-- 		<div class="col-md-6" ng-show="aViewMapReady" > -->
<!-- 			<ui-gmap-google-map id="13" center="viewAreaMap.center" draggable="true" zoom="viewAreaMap.zoom" options="options" control="viewAreaMap.control" bounds="viewAreaMap.bounds">	 -->
<!-- 				<ui-gmap-polygon ng-repeat="a in viewAreaPolygons" path="a.path" stroke="a.stroke" fill="a.fill" visible="a.visible" -->
<!-- 	              geodesic="a.geodesic" fit="false" editable="false" draggable="false"></ui-gmap-polygon> -->
<!-- 	            <ui-gmap-polygon path="myAreaPol.path" stroke="myAreaPol.stroke" fill="myAreaPol.fill" visible="myAreaPol.visible" -->
<!-- 	              geodesic="myAreaPol.geodesic" fit="false" editable="myAreaPol.editable" draggable="myAreaPol.draggable"></ui-gmap-polygon>  	 -->
<!-- 			</ui-gmap-google-map> -->
			
<!-- 		</div> -->
<!-- 		<div class="col-md-6" ng-show="!aViewMapReady"> -->
<!-- 			<div style="text-align: center"> -->
<!-- 				<img src="imgs/ajax-loader.gif" width="40" height="40" /><br> -->
<!-- 				<h3>{{ 'loading_text' | i18n }}...</h3> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="col-md-6"> -->
<!-- 			<div class="panel panel-default" width="90%"> -->
<!-- 		   		<div class="panel-heading"> -->
<!-- 		    		<h3 class="panel-title"><strong>{{ 'view_area' | i18n }}</strong></h3> -->
<!-- 		  		</div> -->
<!-- 		  		<div class="panel-body">	 -->
<!-- 		  			<table width="100%"> -->
<!-- 						<tr> -->
<!-- 							<td width="45%"><strong>{{ 'area_name' | i18n }}:</strong></td> -->
<!-- 							<td width="55%">{{ area.name }}</td> -->
<!-- 						</tr> -->
<!-- 						<tr>	 -->
<!-- 							<td><strong>{{ 'area_rate' | i18n }}:</strong></td> -->
<!-- 							<td>{{ area.fee }}</td> -->
<!-- 						</tr> -->
<!-- 						<tr>	 -->
<!-- 							<td><strong>{{ 'area_time' | i18n }}:</strong></td> -->
<!-- 							<td>{{ area.timeSlot }}</td> -->
<!-- 						</tr> -->
<!-- 						<tr>	 -->
<!-- 							<td><strong>{{ 'area_sms' | i18n }}:</strong></td> -->
<!-- 							<td>{{ area.smsCode }}</td> -->
<!-- 						</tr> -->
<!-- 						<tr>	 -->
<!-- 							<td><strong>{{ 'area_color' | i18n }}</strong></td> -->
<!-- 							<td><span class="colorBox" ng-style="{'background-color': correctColor(area.color)}"></span></td> -->
<!-- 						</tr> -->
<!-- 			   		</table> -->
<!-- 			   		<hr> -->
<!-- 				   	<table width="95%">			 -->
<!-- 						<tr> -->
<!-- 							<td width="50%" align="right"> -->
<!-- 								<button type="button" class="btn btn-default btn-lg" ng-click="closeAView()">{{ 'text_btn_close' | i18n  }}</button>	 -->
<!-- 							</td> -->
<!-- 							<td width="50%" align="left"> -->
<!-- 								<button type="button" class="btn btn-default btn-lg" ng-click="setAEdit(area)">{{ 'text_btn_edit' | i18n  }}</button> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 					</table> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
</div>